{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "page/css/user_car.css" %}'>
{% endblock %}

{% block main_contents %}
<!--wrapper-->
<!-- 2 -->
<div class="all" style="padding: 5px;">
  <!--メイン-->
  <div id ="main">
    <h4 class="title">駐車場利用の流れ</h4>                     
    <!-- <div "card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div "card-body" style="margin-left: 230px;">
        <h5 "card-title" style="font-size: 20px;">会員登録</h5>
        <p "card-text">まずは会員登録！</p>
        <a href="#" "btn btn-primary">詳細</a>
        <a href="#" "btn btn-primary">>>会員登録に関するよくある質問</a>
      </div>
    </div>
    
      <div "card" style="font-size: 20px;text-align: center;">
          <h5>↓</h5>
      </div>

    <div "card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div "card-body" style="margin-left: 230px;">
        <h5 "card-title" style="font-size: 20px;">検索・予約</h5>
        <p "card-text">日時、場所、利用時間を限定し検索、そのまま予約もカンタン！<br>（トップページからいつでも予約内容の確認ができます。）</p>
        <a href="#" "btn btn-primary">詳細</a>
        <a href="#" "btn btn-primary">>>検索・予約に関するよくある質問</a>
      </div>
    </div>

    <div "card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div "card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div "card-body" style="margin-left: 230px;">
        <h5 "card-title" style="font-size: 20px;">駐車</h5>
        <p "card-text">本サービスのルールを守って駐車場をご利用ください！</p>
        <a href="#" "btn btn-primary">詳細</a>
        <a href="#" "btn btn-primary">>>駐車に関するよくある質問</a>
      </div>
    </div>
    
    <div "card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div "card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div "card-body" style="margin-left: 230px;">
        <h5 "card-title" style="font-size: 20px;">精算</h5>
        <p" card-text">当月ご利用された分の料金を、ご指定いただいたクレジットカードでお支払いください！</p>
        <a href="#" "btn btn-primary">詳細</a>
        <a href="#" "btn btn-primary">>>精算に関するよくある質問</a>
      </div>
    </div>

    <div "botan" style="text-align: center;">
      <div "botan-body">
        <a href="#" class="btn btn-primary" style="border: 1px solid #000;">会員登録</a>
        <a href="#" class="btn btn-primary" style="border: 1px solid #000;">駐車場検索</a>
      </div>
    </div>
  </div> -->

  <ul class="flow">
    <li>
      <span class="icon">STEP.01</span>
      <dl>
        <dt>会員登録</dt>
        <dd>まずは会員登録！</dd>
        <dd>
          <a href="./1" class="btn-open">詳細</a>
          <!-- <a href="#" class="btn-open">会員登録に関するよくある質問</a> -->
        </dd>
      </dl>
    </li>
  
    <li>
      <span class="icon">STEP.02</span>
      <dl>
        <dt>検索・予約</dt>
        <dd>日時、場所、利用時間を限定し検索、そのまま予約もカンタン！</dd>
        <dd>
          <a href="./2" class="btn-open">詳細</a>
          <!-- <a href="#" class="btn-open">検索・予約に関するよくある質問</a> -->
        </dd>
      </dl>
    </li>
  
    <li>
      <span class="icon">STEP.03</span>
      <dl>
        <dt>駐車</dt>
        <dd>本サービスのルールを守って駐車場をご利用ください！</dd>
        <dd>
          <a href="./3" class="btn-open">詳細</a>
          <!-- <a href="#" class="btn-open">駐車に関するよくある質問</a> -->
        </dd>
      </dl>
    </li>

    <li>
      <span class="icon">STEP.04</span>
      <dl>
        <dt>精算</dt>
        <dd>当月ご利用された分の料金を、ご指定いただいたクレジットカードでお支払いください！</dd>
        <dd>
          <a href="./4" class="btn-open">詳細</a>
          <!-- <a href="#" class="btn-open">精算に関するよくある質問</a> -->
        </dd>
      </dl>
    </li>
  </ul>
</div>
  <!--/メイン-->
</div>
<!--/wrapper-->
{% endblock %}