<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div id ="main">
  <!-- <h4 style="font-size: 25px;text-align: center;">カーシェアリング利用の流れ</h4>
  <h4 style="width: 402px;margin: auto;margin-bottom: 10pt;font-size: 20px;text-align: center;border: 1px solid #000;">解錠詳細</h4>
<div class="container">
  <div class="mx-auto" style="width: 400px;">
            <div class="card border-dark mb-3 m-0">
              <div class="card-header">カード読み取り部分を確認</div>
              <div class="card-body text-dark">
                <p class="card-text">ステーションにお越しになると、車両のカード<br>
                  読み取り部分（リヤウィンドウの右上部分、<br>または右側後部座席の三角窓）のLEDが赤色に<br>
                  点滅しています。</p>
              </div>
            </div>
            <div class="card border-dark mb-3 m-0">
              <div class="card-header">会員カードをかざす</div>
              <div class="card-body text-dark">
                <p class="card-text">会員カードをカードリーダー部分に<br>
                  かざしてください。<br>
                  ドアロックが解除されますので、<br>ご乗車
                  ください。</p>
              </div>
            </div>
            <div class="card border-dark mb-3 m-0">
              <div class="card-header">解錠完了</div>
              <div class="card-body text-dark">
                <p class="card-text">解錠完了します。</p>
              </div>
            </div>
  </div>
</div> -->

<h4 style="font-size: 25px;text-align: center;font-weight: bold;color: rgb(83, 83, 83);margin: 30pt 30pt;">カーシェアリングオーナー利用の流れ</h4>
<ul class="flow">
  <li>
    <span class="icon">STEP.01</span>
    <dl>
      <dt>カード読み取り部分を確認</dt>
      <dd>ステーションにお越しになると、車両のカード読み取り部分<br>
        （リヤウィンドウの右上部分、または右側後部座席の三角窓）のLEDが赤色に点滅しています。
      </dd>
    </dl>
  </li>

  <li>
    <span class="icon">STEP.02</span>
    <dl>
      <dt>会員カードをかざす</dt>
      <dd>会員カードをカードリーダー部分にかざしてください。<br>
        ドアロックが解除されますので、ご乗車ください。
      </dd>
    </dl>
  </li>

  <li>
    <span class="icon">STEP.03</span>
    <dl>
      <dt>解錠完了</dt>
      <dd>解錠が完了します。</dd>
    </dl>
  </li>

</ul>
<div style="text-align: center;">
  <a href="#" class="btn-open">検索・予約詳細</a>
  <a href="#" class="btn-open">乗車詳細</a>
</div>

<style>
    * {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  dd {
    margin-left: 0;
  }
  
  .flow {
    padding-left: 120px;
    position: relative;
  }
  .flow::before {
    content: "";
    width: 15px;
    height: 100%;
    background: #eee;
    margin-left: -8px;
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
  }
  .flow > li {
    position: relative;
  }
  .flow > li:not(:last-child) {
    margin-bottom: 8vh;
  }
  .flow > li .icon {
    font-size: 12px;
    color: #fff;
    background: rgb(107,144,219);
    background: -moz-linear-gradient(left, rgb(181, 181, 182) 0%, rgb(54, 56, 56) 100%);
    background: -webkit-linear-gradient(left, rgb(181, 181, 182) 0%,rgb(54, 56, 56) 100%);
    background: linear-gradient(to right, rgb(181, 181, 182) 0%,rgb(54, 56, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
    padding: 8px 20px;
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
  }
  .flow > li .icon::after {
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent rgb(54, 56, 56);
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .flow > li dl {
    padding-left: 70px;
    position: relative;
  }
  .flow > li dl::before,
  .flow > li dl::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
  }
  .flow > li dl::before {
    width: 7px;
    height: 7px;
    margin-top: -3px;
    background: rgb(54, 56, 56);
    border-radius: 50%;
    left: -4px;
  }
  .flow > li dl::after {
    width: 50px;
    border-bottom: 1px dashed #999;
    position: absolute;
    left: 5px;
  }
  .flow > li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin-bottom: 1vh;
  }

  .all {
      width: 100%;
  }

  .title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(83, 83, 83);
  }

  .btn-open {
    display: inline-block;
    text-align: center;
    width: 220pt;
    background-color: #FFF;
    font-size: 16px;
    line-height: 52px;
    color:  rgb(83, 83, 83);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid  rgb(83, 83, 83);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 3pt 10pt 3pt 10pt;
    margin: 3pt 5pt 3pt 5pt;
  }
  .btn-open:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 100%;
    left: 100%;
    background : rgb(83, 83, 83);
    opacity: 0;
    transform: translateX(-100%) translateY(-100%) rotate(90deg);
    transition: .2s;
    z-index: -1;
  }
  .btn-open:hover{
    color: #FFF;
    text-decoration: none;
  }
  .btn-open:hover:after{
    height: 480%;
    opacity: 1;
  }
  .btn-open:active:after{
    height: 340%;
    opacity: 1;
  }

</style>
</div>