{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "page/css/user_car.css" %}'>
{% endblock %}

{% block main_contents %}
<!--wrapper-->
<!-- 1 -->
<div class="all" style="padding: 5px;">
  <!--メイン-->
  <div id="main" style="margin-top: 60pt;">
    <h4 class="title">カーシェアリング利用の流れ</h4>  
    <!-- <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">会員登録</h5>
        <p class="card-text">まずは会員登録！</p>
        <a href="./1" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>会員登録に関するよくある質問</a>
      </div>
    </div>

    <div class="card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">検索・予約</h5>
        <p class="card-text">日時、場所、乗車人数、利用時間を限定し検索、そのまま予約もカンタン！<br>（トップページからいつでも予約内容の確認ができます。）</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>検索・予約に関するよくある質問</a>
      </div>
    </div>
      
    <div class="card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">解錠</h5>
        <p class="card-text">共通鍵を使って解錠！</p>
        <a href="./3" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>解錠に関するよくある質問</a>
      </div>
    </div>

    <div class="card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">乗車</h5>
        <p class="card-text">本サービスと交通のルールを守って楽しく安全に運転してください！<br>（返却前に給油していただくと利用料金がお安くなります。）</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>乗車に関するよくある質問</a>
      </div>
    </div>
      
    <div class="card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">返却</h5>
        <p class="card-text">車を出発したステーションに戻し、ドアを施錠してください！<br>（返却後、アンケートにご協力ください。）</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>返却に関するよくある質問</a>
      </div>
    </div>

    <div class="card" style="font-size: 20px;text-align: center;">
        <h5>↓</h5>
    </div>

    <div class="card" style="width: 650pt;height: 150pt;margin: auto;text-align: auto;margin-bottom: 5pt;border: 1px solid #000;">
      <p style="float: left;margin-left: 7px;"><img src='{% static "admin/img/login_google.png" %}' width="200" height="165"></p>
      <div class="card-body" style="margin-left: 230px;">
        <h5 class="card-title" style="font-size: 20px;">精算</h5>
        <p class="card-text">当月ご利用された分の料金を、ご指定いただいたクレジットカードでお支払いください！</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>精算に関するよくある質問</a>
      </div>
    </div>
    
    <div class="botan" style="text-align: center;">
      <div class="botan-body">
        <a href="#" class="btn btn-primary" style="border: 1px solid #000;">会員登録</a>
        <a href="#" class="btn btn-primary" style="border: 1px solid #000;"style="border: 1px solid #000;">カーシェアリング検索</a>
      </div> -->

      <ul class="flow">
        <li>
          <span class="icon">STEP.01</span>
          <dl>
            <dt>会員登録</dt>
            <dd>まずは会員登録！</dd>
            <dd>
              <a href="./1" class="btn">詳細</a>
              <i class="fas fa-angle-right fa-position-right"></i>
            </dd>
          </dl>
        </li>
      
        <li>
          <span class="icon">STEP.02</span>
          <dl>
            <dt>検索・予約</dt>
            <dd>日時、場所、乗車人数、利用時間を限定し検索、そのまま予約もカンタン！</dd>
          </dl>
        </li>
      
        <li>
          <span class="icon">STEP.03</span>
          <dl>
            <dt>解錠</dt>
            <dd>共通鍵を使って解錠！</dd>
          </dl>
        </li>
      
        <li>
          <span class="icon">STEP.04</span>
          <dl>
            <dt>乗車</dt>
            <dd>本サービスと交通のルールを守って楽しく安全に運転してください！</dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.05</span>
          <dl>
            <dt>返却</dt>
            <dd>車を出発したステーションに戻し、ドアを施錠してください！</dd>
          </dl>
        </li>

        <li>
          <span class="icon">STEP.06</span>
          <dl>
            <dt>精算</dt>
            <dd>当月ご利用された分の料金を、ご指定いただいたクレジットカードでお支払いください！</dd>
          </dl>
        </li>
      </ul>
    </div>
  <!--/メイン-->
</div>
<!--/wrapper-->
{% endblock %}