{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'owners_req:createDate' %}" method="post" >
        {% csrf_token %}
        <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">選択</th>
            <th scope="col">車種</th>
            <th scope="col">駐車場</th>
            </tr>
        </thead>
        {% for item in car_info %}
        <tbody>
            <tr>
            <td><input type="radio" name="car_id" value="{{item.car_id}}" required></td>
            <th scope="row">{{item.category}}</th>
            <td>{{item.address}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
<div class="card">
        <h2 class="card-header">{{ message|safe }}</h2>
        <div class="card-body">
            {{ form.as_p }}
            {{ form.media }}
        </div>
        <div class="card-footer">
            <input class="btn btn-outline-secondary" type="submit" value="確定" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
    </form>
</div>

{% endblock %}
