{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" href='{% static "carsharing_req/css/footer.css" %}'> {% endcomment %}
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block active_login %}
{% endblock %}

{% block main_contents %}


<h1 class="h3 mb-3 font-weight-normal" style="margin: 10pt;">{{ title }}</h1>
<div class="card">
    <h5 class="card-header">{{ message|safe }}</h5>
    <div class="card-body">
        {% for obj in data %}
        <table class="table" style="width: 90%;margin: 30pt;">
            {% comment %} <tr><th>ID</th><td>{{obj.user_id}}</td></tr> {% endcomment %}
            <tr><th>登録日</th><td>{{obj.day}}</td></tr>
            <tr><th>銀行名</th><td>{{obj.bank_name}}</td></tr>
            <tr><th>支店名</th><td>{{obj.branch_name}}</td></tr>
            <tr><th>口座番号</th><td>{{obj.bank_account_number}}</td></tr>
            {% comment %} <tr><td><a href="{% url 'owners_req:edit' obj.user_id %}">変更</a></td><td><a href="{% url 'parking_req:delete' obj.id %}">削除</a></td></tr>   {% endcomment %}
        </table>
    </div>
    <div class="card-footer">
        <tr>
            <td>
                <form action="{% url 'owners_req:ownerslist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="obj.id" value="{{obj.id}}">
                    <input type="hidden" name="command" value="delete">
                    <input class="btn btn-outline-secondary" type="submit" value="削除" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
                </form>
            </td>
            <td>
                <form action="{% url 'owners_req:ownerslist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="obj.id" value="{{obj.id}}">
                    <input type="hidden" name="command" value="edit">
                    <input class="btn btn-outline-secondary" type="submit" value="変更" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
                </form>
            </td>
        </tr>
    {% endfor %}
    {% comment %} <a href="{% url 'owners_req:edit' %}">オーナー情報変更</a>
    <a href="{% url 'owners_req:delete' %}">オーナー情報削除</a> {% endcomment %}
    {% comment %} <form action="{% url 'owners_req:edit' %}" method="post">
        {{obj.user_id}}
        <input class="btn btn-primary my-2" type="submit" value="Edit">
    </form> {% endcomment %}
    </div>
</div>




<!-- <p class="h5 mt-4" style="margin: 30pt;">{{ message|safe }}</p>
{% for obj in data %}
<table class="table" style="width: 90%;margin: 30pt;">
    <tr><th>ID</th><td>{{obj.user_id}}</td></tr>
    <tr><th>登録日</th><td>{{obj.day}}</td></tr>
    <tr><th>振込方法</th><td>{{obj.pay}}</td><tr>
    <tr><th>銀行名</th><td>{{obj.bank_name}}</td></tr>
    <tr><th>支店コード</th><td>{{obj.bank_code}}</td></tr>
    <tr><th>口座番号</th><td>{{obj.bank_account_number}}</td></tr>
    <tr><th>QR決済ID</th><td>{{obj.QR_id}}</td></tr>
    {% comment %} <tr><td><a href="{% url 'owners_req:edit' obj.user_id %}">変更</a></td><td><a href="{% url 'parking_req:delete' obj.id %}">削除</a></td></tr>   {% endcomment %}
    <tr>
        <td>
            <form action="{% url 'owners_req:ownerslist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="obj.id" value="{{obj.id}}">
                <input type="hidden" name="command" value="edit">
                <input class="btn btn-primary my-2" type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form action="{% url 'owners_req:ownerslist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="obj.id" value="{{obj.id}}">
                <input type="hidden" name="command" value="delete">
                <input class="btn btn-primary my-2" type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
{% endfor %}
{% comment %} <a href="{% url 'owners_req:edit' %}">オーナー情報変更</a>
<a href="{% url 'owners_req:delete' %}">オーナー情報削除</a> {% endcomment %}
{% comment %} <form action="{% url 'owners_req:edit' %}" method="post">
    {{obj.user_id}}
    <input class="btn btn-primary my-2" type="submit" value="Edit">
</form> {% endcomment %} -->

{% endblock %}
