{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
<div class="card">
    <form action="{% url 'parking_req:create' %}" method="post" >
        {% csrf_token %}
        <h2 class="card-header">{{ message|safe }}</h2>
        <div class="card-body">
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn btn-outline-secondary" type="submit" value="登録" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
    </form>
</div>    
{% endblock %}
