{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block active_login %}
{% endblock %}

{% block contents %}
<h1>{{ title }}</h1>
<p class="h5 mt-4">{{ message|safe }}</p>
<table class="table">
    <tr><th>ユーザID</th><td>{{obj.user_id}}</td></tr>
    <tr><th>緯度</th><td>{{obj.lat}}</td></tr>
    <tr><th>経度</th><td>{{obj.lng}}</td></tr>
    <tr><th>登録日</th><td>{{obj.day}}</td><tr>
    <tr><th>駐車場タイプ</th><td>{{obj.parking_type}}</td></tr>
    <tr><th>横幅</th><td>{{obj.width}}</td></tr>
    <tr><th>奥行き</th><td>{{obj.length}}</td></tr>
    <tr><th>高さ</th><td>{{obj.height}}</td></tr>
    <form action="{% url 'parking_req:delete' %}" method="post">
        {% csrf_token %}
        <tr><th></th><td>
            <input type="submit" value="click" class="btn btn-primary mt-2">
        </td></tr>    
    </form>    
    </table>

{% endblock %}
