{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "parking_req/css/parking.css" %}'>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
<h1>{{ title }}</h1>
<form action="{% url 'parking_req:edit' %}" method="post" >
<div class="card">

        {% csrf_token %}
        <h2 class="card-header">{{ message|safe }}</h2>
        <div class="card-body">
            <input type="hidden" name="p_id" value="{{id}}">
            {{ form.as_p }}
        </div>
        <div class="card-footer">
            <input class="btn" type="submit" value="修正" />
        </div>
</form>            
</div>

{% endblock %}
