
<div class="aspect"><div id="gmap_canvas" class="g_canvas"></div><span id="ver" style="font-size: 0.8em; color: gray;"></span></div>
<style type="text/css">
	.aspect{
		width:100%;
		height:50vw;
	}
	.aspect_normal,
	.aspect_dot,
	.aspect_key,
	.aspect_dotkey{
		width:100%;
		height:25vw;
	}
	#gmap_canvas,
	#gmap_canvas_normal,
	#gmap_canvas_dot,
	#gmap_canvas_key,
	#gmap_canvas_dotkey,
	div.g_canvas{
		width:100%;
		height:100%;
	}
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&v=3"></script>
<button class ="gmap_btn"  id="drop" onclick="dropMaker();"/>マーカーを表示する</button>
<button class ="gmap_btn"  id="del" onclick="deleteMakers();"/>マーカーを削除する</button>
<script type="text/javascript">
	//global
	var marker = null;
	var gmap_canvas;
	var map_div = document.getElementById("gmap_canvas");
	//地図を描画
	function init(){
        gmap_canvas = new google.maps.Map(document.getElementById('gmap_canvas'), {
        zoom: 13,
        center: {lat: 36.38992, lng: 139.06065}
        });
		dropMaker();
    
    // クリックイベントを追加
      gmap_canvas.addListener('click', function(e) {
        getClickLatLng(e.latLng, gmap_canvas);
      });
	}


    function getClickLatLng(lat_lng, gmap_canvas) {

      // 座標を表示
      document.getElementById('lat').textContent = lat_lng.lat();
      document.getElementById('lng').textContent = lat_lng.lng();
    console.log(lat_lng);
    }
    

	//マーカーの生成と表示
	function create_marker(options){
		var m =  new google.maps.Marker(options);
		return m;
	}
	//マーカーを落とす
	function dropMaker(){
		//既にあるマーカーを一旦削除
		deleteMakers();
		//新たに生成
		marker = create_marker({
			map: gmap_canvas,
			position: new google.maps.LatLng(34.839450, 134.693903),
		});
	}

	//マーカーを削除する
	function deleteMakers() {
		  if(marker != null){
		    marker.setMap(null);
		  }
		  marker = null;
	}

	google.maps.event.addDomListener(window,"load",init);
	$('#ver').text(google.maps.version);
</script>