{% extends 'carsharing_req/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href='{% static "parking_req/css/map.css" %}'>
{% endblock %}


{% block title %}駐車場追加{% endblock %}


{% block main_contents %}
<div id="map"></div>
  <ul style="display:none;">
    <li>lat: <span id="lat"></span></li>
    <li>lng: <span id="lng"></span></li>
  </ul>
<form id="myform" name="name_form" action="/parking_req/ajax/" method="POST">
    <!-- <form name="name_form" action="/test_ajax_app/" method="POST"> -->
  {% csrf_token %}
  <input type="hidden" id="id_input_lat" name="name_input_lat" value="">
  <input type="hidden" id="id_input_lng" name="name_input_lng" value="">
  <input class="btn" type="submit"> 
</form>
    <span id="id_div_ajax_response"></span>
<script type="text/javascript" src='{% static "parking_req/js/mapping.js" %}'></script>
{% endblock %}


{% block mapapi %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->
{% endblock %}