<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <title>ゲストトップ</title>
    </head>
    <body>
        <!--ヘッダー-->
        <header>
            <div class="head_container">
                <h1>ゲストトップ</h1>
                <h2>ようこそ　<a href="#">ゲスト</a>さん</h2>
            </div>
        <nav class="global_navi">
            <ul>
                <li><a href="#"><span class="new"><p>新規登録</p></span></a></li>
                <li><a href="#"><span class="mai">利用の流れ</span><span class="sub">(料金)</span></a></li>
                <li><a href="#"><span>カーシェアリング<br>ステーション検索</span></a></li>
                <li><a href="#"><span class="ppp"><p>駐車場検索</p></span></a></li>
                <li><a href="#"><span class="old"><p>中古車検索</p></span></a></li>            
            </ul>
        </nav>
        </header>
        <!--/ヘッダー-->

        <!--wrapper-->
        <!--メイン-->
        <main class="mb">
        <section id="l">
            <h3>▶︎お知らせ</h3>
        <div>
            <ul>
                <li>'20.10.15　　　<a href="#">----------</a></li>
                <li>'20.07.20　　　<a href="#">----------</a></li>
                <li>'20.04.19　　　<a href="#">----------</a></li>
                <li>'20.01.30　　　<a href="#">----------</a></li>
                <li>'19.12.14　　　<a href="#">----------</a></li>
                <li>'19.10.01　　　<a href="#">----------</a></li>
                <li>'19.07.10　　　<a href="#">----------</a></li>
                <li>'19.04.01　　　<a href="#">----------</a></li>
            </ul>
        </div>
        </section>
        <section id="r">
            <h3>▶︎よくあるご質問</h3>
        <ul>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">Q</a></li>
        </ul>
        </table>
        </section>
        <section id="u">
            <h3>▶︎お問い合わせ</h3>
            <ul>
                <li>〇〇支店<br>TEL<br><a href="#">XXXーXXXーXXXX</a></li>
                <li>〇〇支店<br>TEL<br><a href="#">XXXーXXXーXXXX</a></li>
                <li>〇〇支店<br>TEL<br><a href="#">XXXーXXXーXXXX</a></li>
                <li>〇〇支店<br>TEL<br><a href="#">XXXーXXXーXXXX</a></li>
            </ul>
        </table>
        </section>
        </main>
        <!--/メイン-->

        <!--サイド-->
        <aside id="sidebar">
            <section id="side_banner">
                <form id="">
                    <ul>
                        <li></li>
                    </ul>
                    <p id="submit button_cover">
                        <input type="submit" id="submit button" value="新規登録">
                    </p>
                </form>
            </section>
            <section id="side_contact">
                <figure>
                    <img src="images/###">
                </figure>
                <h2>アプリインストール</h2>
                <ul>
                    <li><a href="#">＞Androidの方</a></li>
                    <li><a href="#">＞iPhoneの方</a></li>
                </ul>
            </section>
        </aside>
        <!--/サイド-->
        <!--/wrapper-->

        <!--フッター-->
        <footer>
            <div class="footer_nav">
                <div>
                    <ul>
                        <li><a href="#">・新規登録</a></li>
                        <li><a href="#">・ログイン</a></li>
                        <li><a href="#">・カーシェアリングの利用の流れ</a></li>
                        <li><a href="#">・駐車場の利用の流れ</a></li>
                        <li><a href="#">・料金について</a></li>
                        <li><a href="#">・ステーション検索</a></li>
                        <li><a href="#">・駐車場検索</a></li>
                        <li><a href="#">・中古車検索</a></li>
                        <li><a href="#">・お知らせ</a></li>
                        <li><a href="#">・よくあるご質問</a></li>
                        <li><a href="#">・お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
            <section class="kigyo">
                <h3>株式会社▲▲▲</h3>
            <ul>
                <li>〒XXXーXXXX</li>
                <li>東京都〇〇区ーーーーーーー</li>
                <li>TEL　<a href="#">XXXーXXXーXXXX</a></li>
                <li>FAX　<a href="#">XXXーXXXーXXXX</a></li>
            </ul>
            </section>
        </footer>
        <!--/フッター-->
    </body>
</html>