{% load static %}


<!doctype html>
<html lang="ja">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- jQuery読み込み -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href='{% static "carsharing_req/css/base.css" %}'>
    </head>
  <body>
      <!--ヘッダー-->
        <header>
            <div class="header">
                <p style="float: right; margin: 5pt 5pt 5pt 0pt;">
                    {% if user.is_authenticated %}
                        ようこそ{{ user.get_username }}
                    {% else %}
                        ゲスト
                    {% endif %}  
                        さん
                </p>
            {% if user.is_authenticated %}
            <button class="btn" data-toggle="modal" data-target=".bd-example-modal-lg">
                <a href="http://127.0.0.1:8000/accounts/logout/" class="logout">ログアウト</a>
            </button>
            {% else %}
            <button class="btn" data-toggle="modal" data-target=".bd-example-modal-lg">
                <a href="http://127.0.0.1:8000/accounts/login/" class="login">ログイン</a>
            </button>
            {% endif %}
          <ul class="nav">
            <a class="navbar-brand" href="/" style="color: #333;margin-left: 5pt;"><img src='{% static "admin/img/logo03.png" %}' class="logo3">CarSharingService</a>
            {% if user.is_authenticated %}
              <li class="navbar01">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マイページ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/carsharing_req/carsharuserdata">個人登録情報確認</a>
                    <a class="dropdown-item" href="/carsharing_booking/list">予約確認</a>
                    <a class="dropdown-item" href="/carsharing_req/calendar">カレンダー確認</a>
                    <a class="dropdown-item" href="/carsharing_req/details">利用明細</a>
                </div>
            </li>
            {% else %}
            <li class="navbar01">
                <a class="nav-link" href="/accounts/signup/">新規会員登録</a>
            </li>
            {% endif %}
            <li class="navbar01" style="width: 18%;">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    カーシェアリング利用
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/carsharing_booking/">カーシェアリング検索</a>
                    <a class="dropdown-item" href="/carsharing_req/pages/1/0">カーシェアリング利用の流れ</a>
                    <a class="dropdown-item" href="#">料金について</a>
                  </div>
            </li>
            <li class="navbar01">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    駐車場利用
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/parking_booking/map">駐車場検索</a>
                    <a class="dropdown-item" href="/carsharing_req/pages/2/0">駐車場利用の流れ</a>
                    <a class="dropdown-item" href="#">料金について</a>
                  </div>
            </li>
              <li class="navbar01">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    中古車購入
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">あなたへのおすすめ</a>
                    <a class="dropdown-item" href="#">中古車検索</a>
                    <a class="dropdown-item" href="/secondhandcar/">AI価格予測</a>
                  </div>
            </li>
            {% if request.session.owner_flag == True or request.session.parking_flag == True %}
              <li class="navbar02">
                <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    オーナー
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% if request.session.owner_flag == True %}
                <div class=""></div>
                    <a class="dropdown-item-owner" href="/owners_req/createDate">カーシェアリングオーナー<br>貸し出し日時を登録する</a>
                {% endif %}
                    <a class="dropdown-item-owner" href="/carsharing_req/pages/3/0">カーシェアリングオーナー利用の流れ</a>
                {% if request.session.parking_flag == True %}
                <div class=""></div>
                    <a class="dropdown-item" href="/parking_req/loaning/">駐車場オーナー<br>貸し出し日時を登録する</a>
                {% endif %}
                    <a class="dropdown-item" href="/carsharing_req/pages/4/0">駐車場オーナー利用の流れ</a> 
                </div>
            </li>
            {% else %}
            {% endif %}
          </ul>
        </div>
      </header>


      
    <!--wrapper-->
    {% comment %} <div id="wrapper" class="container w-80"> {% endcomment %}
    <div id="wrapper" class="container w-80" style="margin-top: 75px;">
    <!--メイン-->
    {% for message in messages %}
      <!-- <strong>Messages:</strong> -->
      <ul class="socialaccount_providers"> 
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %} style="list-style: none;margin-top: 5pt;">{{ message|safe }}</li>
      </ul>
    {% endfor %}
    {% block main_contents %}{% endblock %}
    <!--/メイン-->
    </div>
    <div id="top_wrapper" class="w-100">
    {% block box %}{% endblock %}
    {% block top %}{% endblock %}
    {% block extrajs %}{% endblock %}
    </div>
    <!--/wrapper-->

    {% comment %}
      <!-- Footer -->
      <footer class="page-footer font-small indigo">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-15 mx-auto">
                    <!-- Links -->
                    <h5 class="mt-3 mb-4">マイページ</h5>
                    <ul class="list-unstyled">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="/carsharing_req/carsharuserdata/">個人登録情報確認</a>
                        </li><br>
                        <li>
                            <a href="/carsharing_booking/list">予約確認</a>
                        </li><br>
                        <li>
                            <a href="/carsharing_req/calendar">カレンダー確認</a>
                        </li><br>
                        <li>
                            <a href="/carsharing_req/details">利用明細</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/accounts/signup/">新規会員登録</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-15 mx-auto">
                    <!-- Links -->
                    <h5 class="mt-3 mb-4">カーシェアリング・駐車場利用</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/carsharing_req/pages/1/0">カーシェアリング利用の流れ</a><br>
                        </li>
                        <li>
                            <a href="/carsharing_booking/map">カーシェアリング検索</a><br>
                        </li>
                        <li>
                            <a href="/carsharing_req/pages/2/0">駐車場利用の流れ</a><br>
                        </li>
                        <li>
                            <a href="/parking_booking/map">駐車場検索</a><br>
                        </li>
                        <li>
                            <a href="#!">料金について</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-15 mx-auto">
                    <!-- Links -->
                    <h5 class="mt-3 mb-4">中古車</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">あなたへのおすすめ</a>
                        </li><br>
                        <li>
                            <a href="#!">中古車検索</a>
                        </li><br>
                        <li>
                            <a href="/secondhandcar/">AI価格予測</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-15 mx-auto">
                    <!-- Links -->
                    <h5 class="mt-3 mb-4">カーシェアリングオーナー</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/carsharing_req/pages/3/0">カーシェアリングオーナー利用の流れ</a>
                        </li>
                        {% if request.session.owner_flag == True %}
                        <li>
                            <a href="/owners_req/createDate">貸し出し日時を登録する</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/owners_req/create">カーシェアリングオーナーになる</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-15 mx-auto">
                    <!-- Links -->
                    <h5 class="mt-3 mb-4">駐車場オーナー</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/carsharing_req/pages/4/0">駐車場オーナー利用の流れ</a>
                        </li><br>
                        {% if request.session.parking_flag == True %}
                        <li>
                            <a href="/parking_req/loaning/">貸し出し日時を登録する</a>
                        </li><br>
                        {% else %}
                        <li>
                            <a href="#!">駐車場オーナーになる</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        {% endcomment %}
        <footer>
            <div class="replay">
            <ul>
            <li>
            {% if user.is_authenticated %}
            <a href="/carsharing_booking/list" class="replay01" style="width: 70pt;">予約確認</a>
            {% else %}
            <a href="/accounts/signup/"  class="replay01" style="width: 90pt;">新規会員登録</a>
            {% endif %}
            </li>
            <li>
            <a href="/carsharing_booking/map"  class="replay01"  style="width: 150pt;">カーシェアリング検索</a>
            </li>
            <li>
            <a href="/parking_booking/map"  class="replay01" style="width: 80pt;">駐車場検索</a>
            </li>
            <li>
            <a href="#!"  class="replay01" style="width: 80pt;">中古車検索</a>
            </li>
            <li>
            {% if request.session.owner_flag == True %}
            <a href="/owners_req/createDate"  class="replay01" style="width: 180pt;">カーシェアオーナー日時登録</a>
            {% else %}
            <a href="/owners_req/create"  class="replay01" style="width: 200pt;">カーシェアオーナー新規登録</a>
            {% endif %}
            </li>
            <li>
            {% if request.session.parking_flag == True %}
            <a href="/parking_req/loaning/"  class="replay01" style="width: 170pt;">駐車場オーナー日時登録</a>
            {% else %}
            <a href="#!"  class="replay01" style="width: 170pt;">駐車場オーナー新規登録</a>
            {% endif %}
            </li>
            </ul>
            </div>
        </footer>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p style="padding: 10px; margin:0; clear: none;"><img src='{% static "admin/img/logo03.png" %}' class="logo4">株式会社▲▲▲<img src='{% static "admin/img/logo03.png" %}' class="logo4"></p>
        </div>
        <!-- Copyright -->
        <span id="copy">
            <p>&copy;<small>Copy Rights . 2020 CarSharingService . All Rights Reserved</small></p>
        </span>
    </footer>
    <!-- Footer -->
  </body>
</html>

{% block includejs %}{% endblock %}
{% block mapapi %}{% endblock %}