{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <title>{{ title }}</title>
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{ title }}</h1>
    <table class="table">
    <form action="{% url 'carsharing_req:create' %}" method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        <tr>
            <th>
                <label for="id_name">お名前(漢字):</label>
            </th>
            <td>
                氏<input type="text" name="first_name" class="form-control" required />
            </td>
            <td>
                名<input type="text" name="last_name" class="form-control" required />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_name">お名前(ひらがな):</label>
            </th>
            <td>
                し<input type="text" name="first_ja" class="form-control" pattern="[\u3041-\u3096]*" required />
            </td>
            <td>
                めい<input type="text" name="last_ja" class="form-control" pattern="[\u3041-\u3096]*" required />
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_birthday">生年月日:</label>
            </th>
            <td>
                年<input type="number" name="birthday_year" id="id_birthday_year" min={{max_year}} max={{min_year}} class="form-control" required />
                <span id="birthday-year-error-message" style="display: none;">ERROR</span>
            </td>
            <td>
                月<input type="number" name="birthday_month" min=1 max=12 class="form-control" required />
            </td>
            <td>
                日<input type="number" name="birthday_day" min=1 max=31 class="form-control" required />
            </td>
        </tr>
        {{ form.as_table }}
        {% comment %} <tr>
            <th>
                <label for="id_img">免許証:</label>
            </th>
            <td>
                <input type="file" name="img" id="id_img" class="form-control-file" required />
            </td>
        </tr> {% endcomment %}
        <tr>
            <th>利用規約に同意します:</th>
            <td>
                <div class="card">
                    <div class="card-body">
                        貸渡約款
                    </div>
                </div>
            </td>
            <td>
                <input type="checkbox" required />
            </td>
        </tr>
        <tr><th></th><td>
            <input class="btn btn-outline-secondary" type="submit" value="確定" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </td></tr>
    </form>
    </table>


{% comment %} <script type="text/javascript" src='{% static "carsharing_req/js/validation.js" %}'></script> {% endcomment %}

</body>
</html>