{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_req/css/top.css" %}'>
{% endblock %}

{% block title %}トップページ{% endblock %}
 
{% block box %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="en">
                <img class="d-block" src='{% static "admin/img/top2.jpg" %}' alt="First slide">
                <div class="check">
                    <p>現在地から近隣のステーションを検索出来る</p>
                    <p>メーカーや乗車人数などから検索出来る</p>
                    <p>駐車場と一緒に予約すると割引される</p>
                </div>
                <a href="/carsharing_booking/" class="btn-open" style="padding: 10pt 15pt 10pt 15pt;">カーシェア検索</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="en">
                <img class="d-block" src='{% static "admin/img/top.jpg" %}'  alt="Second slide">
                <div class="check">
                    <p>気になるお値段</p>
                    <p>お客様にあったプランを選択出来る</p>
                    <p>返却前の給油、洗車で割引される</p>
                </div>
                <a href="/carsharing_req/pages/5/0" class="btn-open">料金</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="en">
                <img class="d-block" src= '{% static "admin/img/top3.jpg" %}'alt="Third slide">
                <div class="check">
                    <p>多くのメーカーを見られる</p>
                    <p>カーシェアで試乗出来る</p>
                    <p>安心で安全な車をリーズナブルい提供出来る</p>
                </div>
                <a href="/secondhandcar/search" class="btn-open">中古車検索</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endblock %}

{% block top %}
<div id ="main">
    <div class="area-6 two" id="a-favoritelist">
        <a href="/carsharing_booking/">
            <div class="hover-6"></div>
            <span class="font-6">車予約</span>
        </a>
    </div>
    <div class="area-6 three" id="a-favoritelist">
        <a href="/parking_booking/map">
            <div class="hover-6"></div>
            <span class="font-6">駐車場予約</span>
        </a>
    </div>
    {% if user.is_authenticated %}
    <div class="area-6 four" id="a-favoritelist">
        <a href="/carsharing_req/carsharuserdata/">
            <div class="hover-6"></div>
            <span class="font-6">個人情報</span>
        </a>
    </div>
    <div class="area-6 eight" id="a-favoritelist">
        <a href="/carsharing_booking/favoritelist/">
            <div class="hover-6"></div>
            <span class="font-6">お気に入り</span>
        </a>
    </div>
    <div class="area-6 nine" id="a-favoritelist">
        <a href="/carsharing_booking/list/">
            <div class="hover-6"></div>
            <span class="font-6">予約一覧</span>
        </a>
    </div>
    <div class="area-6 ten" id="a-favoritelist">
        <a href="/carsharing_req/details/">
            <div class="hover-6"></div>
            <span class="font-6">利用履歴</span>
        </a>
    </div>
    {% else %}
    <div class="area-6 four" id="a-favoritelist">
        <a href="/accounts/signup/">
            <div class="hover-6"></div>
            <span class="font-6">新規登録</span>
        </a>
    </div>
    {% endif %}
    <div class="area-6 five" id="a-favoritelist">
        <a href="/secondhandcar/recommend_car">
            <div class="hover-6"></div>
            <span class="font-6">おすすめ</span>
        </a>
    </div>
    <div class="area-6 six" id="a-favoritelist">
        <a href="/secondhandcar/search">
            <div class="hover-6"></div>
            <span class="font-6">中古車検索</span>
        </a>
    </div>
    <div class="area-6 seven" id="a-favoritelist">
        <a href="/secondhandcar/">
            <div class="hover-6"></div>
            <span class="font-6">AI価格予想</span>
        </a>
    </div>
    <!-- <div id="a-favoritelist" class="area-6">
        <a href="/carsharing_booking/favoritelist">
            <div class="hover-6 one"></div>
            <span class="font-6">お気に入り</span>
        </a>
    </div> -->
<style>
/* 移動 */
#a-favoritelist {
    border-radius: 15pt;
    border: solid;
    border-color: #000;
}
/* 移動 */
.one {
    background-image: url('{% static "admin/img/car02.jpg" %}');
}

.two {
    background-image: url('{% static "admin/img/car01.jpg" %}');
}

.three {
    background-image: url('{% static "admin/img/parking01.jpg" %}');
}

.four {
    background-image: url('{% static "admin/img/car04.jpg" %}');
}

.five {
    background-image: url('{% static "admin/img/car02.jpg" %}');
    background-image: url('{% static "admin/img/car_recommend.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
}

.six {
    background-image: url('{% static "admin/img/car05.jpg" %}');
}

.seven {
    background-image: url('{% static "admin/img/car03.png" %}');
    background-image: url('{% static "admin/img/ai_graph.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
}

.eight {
    background-image: url('{% static "admin/img/car_favorite.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
}
.nine {
    background-image: url('{% static "admin/img/yoyaku.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
}
.ten {
    background-image: url('{% static "admin/img/rireki.png" %}');
    background-size: contain;
    background-repeat: no-repeat;
}
</style>
<div class="w-100 clearfix">
<ul class="flex cards">
    <li class="card">
    <div class="flip-card4">
        <div class="flip-card-inner4">
            <div class="flip-card-front4">
                <h4>{{age}}に人気な車</h4>
                <p>{{age}}に最も人気な車は？？...</p>
                <p>答えは裏面に！！</P>
                <p>マウスを乗せて見てみよう</P>
            </div>
            <div class="flip-card-back4">
                <h4>プリウス</h4>
                <br>
                <p><img src="/media/car/2020/12/29/10101040_202007z.jpg" width='200px'></p>
            </div>
        </div>
    </div>
    </li>
    <li class="card">
    <div class="flip-card4">
        <div class="flip-card-inner4">
            <div class="flip-card-front4">
                <h4>{{gender}}に人気な車</h4>
                <p>{{gender}}に最も人気な車は？？...</p>
                <p>答えは裏面に！！</P>
                <p>マウスを乗せて見てみよう</P>
            </div>
            <div class="flip-card-back4">
                <h4>セレナ</h4>
                <br>
                <p><img src="/media/car/2020/12/29/K0001024840.jpg" width='200px'></p>
            </div>
        </div>
    </div>
    </li>
  　<li class="card">
    <div class="flip-card4">
        <div class="flip-card-inner4">
            <div class="flip-card-front4">
                <h4>{{address}}民に人気な車</h4>
                <p>{{address}}に最も人気な車は？？...</p>
                <p>答えは裏面に！！</P>
                <p>マウスを乗せて見てみよう</P>
            </div>
            <div class="flip-card-back4">
                <h4>ワゴンR</h4>
                <br>
                <p><img src="/media/car/2021/01/04/K0000940369.jpg" width='200px'></p>
            </div>
        </div>    
    </div>
    </li>
    <li class="card">
    <div class="flip-card4">
        <div class="flip-card-inner4">
            <div class="flip-card-front4">
                <h4>週間ランキング 1位</h4>
                <p>今、最も人気のある車は？？...</p>
                <p>答えは裏面に！！</P>
                <p>マウスを乗せて見てみよう</P>
            </div>
            <div class="flip-card-back4">
                <h4>プリウス</h4>
                <br>
                <p><img src="/media/car/2020/12/29/10101040_202007z.jpg" width='200px'></p>
            </div>
        </div>
    </div>
    </li>
</ul>
</div> 
            <!-- <div class="three">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">カーシェアリング予約</h5>
                        <p class="card-text"><a class="flow" href="/carsharing_req/pages/1/0"><small>利用の流れ</small></a></p>
                        <a href="/carsharing_booking/" class="btn">予約</a>
                    </div>
                </div>
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">駐車場予約</h5>
                        <p class="card-text"><a class="flow" href="/carsharing_req/pages/2/0"><small>利用の流れ</small></a></p>
                        <a href="/parking_booking/map" class="btn">予約</a>
                    </div>
                </div>
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">利用者予約管理</h5>
                        <a href="/carsharing_booking/list" class="btn">一覧</a>
                    </div>
                </div>
            </div>
            <div class="three">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">あなたへのおすすめ</h5>
                        <p class="card-text"><small>AIがあなたにぴったりな車を診断します。</small></p>
                        <a href="/secondhandcar/recommend_car" class="btn">見てみる</a>
                    </div>
                </div>
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">中古車検索</h5>
                        <p class="card-text"></p>
                        <a href="/secondhandcar/search" class="btn">検索</a>
                    </div>
                </div>
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">AI価格予想</h5>
                        <p class="card-text"></p>
                        <a href="/secondhandcar/" class="btn">見てみる</a>
                    </div>
                </div>
            </div>
            <div class="three">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">カーシェアリングオーナー</h5>
                        <p class="card-text"><a class="flow" href="/carsharing_req/pages/3/0"><small>利用の流れ</small></a></p>
                {% if request.session.system_flag >= 10 %}
                        <a href="#" class="btn">日時選択</a>
                {% elif request.session.system_flag >= 7 %}
                        <a href="/owners_req/settinginfo" class="btn">配車設定</a>
                {% elif request.session.system_flag >= 1 %}
                        <a href="/owners_req/createCar" class="btn" id="btn1">車両追加</a>
                {% else %}
                        <a href="/owners_req/create" class="btn">登録</a>
                {% endif %}
                    </div>
                </div>
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title">駐車場オーナー</h5>
                        <p class="card-text"><a class="flow" href="/carsharing_req/pages/4/0"><small>利用の流れ</small></a></p>
                {% if request.session.system_flag >= 5 %}
                        <a href="/parking_req/loaning/" class="btn">日時選択</a>
                {% elif request.session.system_flag >= 1 %}
                        <a href="/parking_req" class="btn" id="btn1">駐車場追加</a>
                {% else %}
                        <a href="#" class="btn">登録</a>
                {% endif %}
                    </div>
                </div>
                {% if request.session.system_flag >= 1 %}
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
                    <div class="card-body">
                        <h5 class="card-title" id="original">貸し出し追加</h5>
                        <p class="card-text"></p>
                        <div id="btn">
                            <a href="/owners_req/createCar" class="btn" id="btn1">車両追加</a>
                            <a href="/parking_req" class="btn" id="btn1">駐車場追加</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div> -->
                {% comment %} 解説動画（YouTube） {% endcomment %}
            <div id="youtube" data-trigger class="card float-none">
                <div class="card-header">
                    <h5>解説動画（YouTube）</h5>
                </div>
                <div class="card-body m-0 p-1">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/v25No26cqbY" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        <div class="clearfix">
          <div id ="left">
          <div data-trigger class="news">
              <h2>お知らせ</h2>
              <dl>
                  <dt>2020.10.15</dt>
                  <dd>更新しました。</dd>
                  <dt>2020.07.20</dt>
                  <dd>更新しました。</dd>
                  <dt>2020.04.19</dt>
                  <dd>更新しました。</dd>
                  <dt>2020.01.30</dt>
                  <dd>更新しました。</dd>
                  <dt>2019.12.14</dt>
                  <dd>更新しました。</dd>
                  <dt>2019.10.01</dt>
                  <dd>更新しました。</dd>
                  <dt>2019.07.10</dt>
                  <dd>更新しました。</dd>
                  <dt>2019.04.01</dt>
                  <dd>更新しました。</dd>
              </dl>
          </div>
          </div>
          <div id ="right">
          <div data-trigger class="news">
                <h2>よくあるご質問</h2>
                <dl>
                    <dt>2020.10.15</dt>
                    <dd>更新しました。</dd>
                    <dt>2020.07.20</dt>
                    <dd>更新しました。</dd>
                    <dt>2020.04.19</dt>
                    <dd>更新しました。</dd>
                    <dt>2020.01.30</dt>
                    <dd>更新しました。</dd>
                    <dt>2019.12.14</dt>
                    <dd>更新しました。</dd>
                    <dt>2019.10.01</dt>
                    <dd>更新しました。</dd>
                    <dt>2019.07.10</dt>
                    <dd>更新しました。</dd>
                    <dt>2019.04.01</dt>
                    <dd>更新しました。</dd>
                </dl>
            </div>
          </div>
          </div>
          <div data-trigger id ="under">
            <h2>お問い合わせ</h2>
            <p class="under"> 
                〇〇支店<br>
                TEL<br>
                XXX-XXXX-XXXX
            </p>
            <p class="under">
                〇〇支店<br>
                TEL<br>
                XXX-XXXX-XXXX
            </p>
            <p class="under">
                〇〇支店<br>
                TEL<br>
                XXX-XXXX-XXXX
            </p>
            <p class="under"> 
                〇〇支店<br>
                TEL<br>
                XXX-XXXX-XXXX
            </p>
        </div>
          </div>
    </div>
{% endblock %}

{% block includejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.3/ScrollTrigger.min.js"></script>
<script type="text/javascript" src='{% static "carsharing_req/js/scroll-trigger.js" %}'></script>
{% endblock %}