{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "survey/css/questionnaire.css" %}'>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'survey:questionnaire' %}" method="post" >
    <div>
        <label class="ECM_CheckboxInput">
                <input class="ECM_CheckboxInput-Input" type="checkbox" name="checks[]" value="事故に合いませんでした。">
                <span class="ECM_CheckboxInput-DummyInput"></span>
                <span class="ECM_CheckboxInput-LabelText">事故に合いませんでした。</span>
        </label>
        <label class="ECM_CheckboxInput">
            <input class="ECM_CheckboxInput-Input" type="checkbox" name="checks[]" value="借りた場所に返しました。。">
            <span class="ECM_CheckboxInput-DummyInput"></span>
            <span class="ECM_CheckboxInput-LabelText">借りた場所に返しました。</span>
        </label>
    </div>
    <div>
        {% csrf_token %}
        <h2>{{ message|safe }}</h2>
        <div>
            {% for item in data %}
            <div class="all">
                <label class="ECM_CheckboxInput">
                    <input class="ECM_CheckboxInput-Input" type="checkbox" name="checks[]" value="{{ item }}">
                    <span class="ECM_CheckboxInput-DummyInput"></span>
                    <span class="ECM_CheckboxInput-LabelText">{{ item }}</span>
                </label>
            </div>
            {% endfor %}
        </div>
        <div>
            <input class="btn" type="submit" value="送信" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
    </div>
</form>    
{% endblock %}