{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'survey:questionnaire' %}" method="post" >
    <div class="card">
        <div class="w-5">
            <p>事故に合いませんでした。：<input type="checkbox" required /></p>
            <p>借りた場所に返しました。：<input type="checkbox" required /></p>
        </div>
    </div>
    <div class="card">
        {% csrf_token %}
        <h2 class="card-header">{{ message|safe }}</h2>
        <div class="card-body">
            {% for item in data %}
            <div>
            <input type="checkbox" name="checks[]" value="{{ item }}">
            <lavel>{{ item }}</lavel>
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <input class="btn btn-outline-secondary" type="submit" value="送信" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
    </div>
</form>    
{% endblock %}