{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "survey/css/questionnaire.css" %}'>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'survey:questionnaire' %}" method="post" >
    <div>
        <div class="w-5">
            <p><input type="checkbox" required />：事故に合いませんでした。</p>
            <p><input type="checkbox" required />：借りた場所に返しました。</p>
        </div>
    </div>
    <div>
        {% csrf_token %}
        <h2>{{ message|safe }}</h2>
        <div>
            {% for item in data %}
            <div class="all">
            <input type="checkbox" name="checks[]" value="{{ item }}">
            <lavel>{{ item }}</lavel>
            </div>
            {% endfor %}
        </div>
        <div>
            <input class="btn" type="submit" value="送信" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
    </div>
</form>    
{% endblock %}