{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<html>
<body class="centerMiddle">
  <div class="logout">
<h3><img src='{% static "admin/img/logo03.png" %}'/>{% trans "Sign Out" %}</h3>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</body>
<link rel="stylesheet" href='{% static "account/css/logout.css" %}'>
<style>
html {
  background-image: url('{% static "admin/img/carsharing.jpg" %}');
}
</style>
</html>
{% endblock %}
