{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <html style="background-color: #EEEEEE;">
    <body class="centerMiddle" style="border: solid;text-align: left;padding: 30pt;display:inline-block;border-width: 1pt;width: 400pt;margin: 300pt;margin-top: 100pt;margin-bottom: 100pt;padding-left: 60pt;padding-right: 50pt;">
    <h1 class="h3 mb-3 font-weight-normal">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="padding-bottom: 10pt;">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" style="padding-bottom: 10pt;">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="primaryAction btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}"  style="margin-bottom: 10pt;margin-top: 10pt;"/>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </body>
    </html>
{% endblock %}
