{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<html>
<body class="centerMiddle">
<h3 class="title"><img src='{% static "admin/img/logo03.png" %}'/>{% trans "Sign Up" %}</h3>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
    <span>
      <input type="email" name="email" autocomplete="email" required id="id_email" placeholder="メールアドレス">
      {{ form.errors.email }}
    </span>
    <span>
      <input type="password" name="password1" placeholder="パスワード" autocomplete="current-password" required id="id_password1">
      {{ form.errors.password1 }}
    </span>
    <span>
      <input type="password" name="password2" placeholder="パスワード確認用" autocomplete="current-password" required id="id_password2">
      {{ form.errors.password2 }}
    </span>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="already">すでにアカウントお持ちの方は<a href="{{ login_url }}" class="login">ログイン</a></p>
  <button class="btn" type="submit" >{% trans "Sign Up" %}</button>
</form>
</body>
<link rel="stylesheet" href='{% static "account/css/signup.css" %}'>
<style>
html {
  background-image: url('{% static "admin/img/carsharing.jpg" %}');
}
</style>
</html>

{% endblock %}
