{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<!-- google -->
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}">{{brand.name}}
</li>
{% endfor %}
{% endif %}
<li class="google" style="list-style: none;">
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %} "><img src='{% static "admin/img/login_google.png" %}' alt="Google" style="width: 120pt;height: 45pt;border: solid;border-color: gray;border-width: 1pt;"></a>
</li>
{% endfor %}
