{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "secondhandcar/css/gestquestionnaire.css" %}'>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'secondhandcar:recommend_car' %}" method="post" >
    <div class="samp">
        {% csrf_token %}
        <h2 class="title">{{ message|safe }}</h2>
            {% for item in data %}
            <ul>
            <li class="anc">
                <lavel>
                    <input type="checkbox" value="{{ item }}" class="box" id="temple"/>
                    {{ item }}
                </lavel>
            </li>
            </ul>
            {% endfor %}
            <input class="btn" type="submit" value="送信" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
    </div>
</form>    
{% endblock %}