{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "secondhandcar/css/gestquestionnaire.css" %}'>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'secondhandcar:recommend_car' %}" method="post" >
    <div class="">
        {% csrf_token %}
        <h2 class="title">{{ message|safe }}</h2>
        <div class="">
            {% for item in data %}
            <label class="ECM_CheckboxInput">
                <input class="ECM_CheckboxInput-Input" type="checkbox" name="checks[]" value="{{ item }}">
                <span class="ECM_CheckboxInput-DummyInput"></span>
                <span class="ECM_CheckboxInput-LabelText">{{ item }}</span>
            </label>
            {% endfor %}
        </div>
        <div class="">
            <input id="guest_btn" class="btn" type="submit" value="送信">
        </div>
    </div>
</form>
<style>
</style>
{% endblock %}