{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
{% endblock %}
    
{% block title %}価格予測推移グラフ{% endblock %}

{% block main_contents %}
  <input id="purius" type="checkbox" value="purius" onchange="myfunc(this.value)"/> プリウス(トヨタ) 
  <input id="minimini" type="checkbox" value="minimini" onchange="myfunc(this.value)"/>　ミニ(ミニ)
<canvas id="myChart"></canvas>
<script>
  var data = JSON.parse('{{ purius_json|safe }}');
  var Purius = data;
  var days = Object.keys(Purius);
  var purius_prices = Object.values(Purius);
  var data = JSON.parse('{{ minimini_json|safe }}');
  var Minimini = data;
  var minimini_prices = Object.values(Minimini);
</script>
<script type="text/javascript" src='{% static "secondhandcar/js/graph.js" %}'></script>
{% endblock %}