{% extends 'carsharing_req/base.html' %}
{% load static %}
    
{% block title %}{{title}}{% endblock %}

{% block main_contents %}
{% for num in secondhandcar_list %}
    <div class="m-3">
        <h3>{{num.category}}({{num.parent_category}})</h3>
        <div>
            <p>型番：{{num.model}}</p>
            <p>発売期間：{{num.release_period}}</p>
            <p>グレード：{{num.grade}}</p>
            <a class="text-secondary" href="/secondhandcar/detail/{{num.second_hand_car_id.id}}">詳しく見る &raquo;</a>
            <div>
                <img border="0" src="{{num.img1}}" width="128" alt="{{num.img1}}">
                {% comment %} <img border="0" src="{{num.img2}}" width="128" alt="{{num.img2}}">
                <img border="0" src="{{num.img3}}" width="128" alt="{{num.img3}}"> {% endcomment %}
            </div>
        </div>
    </div>

    <style>
        h3 {
            color: rgb(83, 83, 83);
            border-bottom: solid;
            border-color: rgb(83, 83, 83);
        }
    </style>
{% endfor %}
{% endblock %}