{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" href='{% static "carsharing_req/css/footer.css" %}'> {% endcomment %}
{% endblock %}

    
{% block title %}{{title}}{% endblock %}

{% block main_contents %}
    <form action="{% url 'secondhandcar:search' %}" method="post" >
    {% csrf_token %}
    <div class="m-1 clearfix" style="border-top: solid 3px #000;border-bottom: solid 3px #000;">
    {% for p_c in p_c_list %}
        <input type="submit" class="btn btn-dark m-1" name="parent_category" value="{{p_c}}" style="float:left;clear:none;"/>
    {% endfor %}
    </div>
    </form>
{% for car_obj in secondhandcar_info %}
    <div class="card m-5">
        <h5 class="card-header card-title">{{car_obj.category}}({{car_obj.parent_category}})</h5>
        <div class="a-secondary">
            <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img1}}" class="img" style="height: 191pt;">
            </a>
            <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img2}}" class="img" style="height: 191pt;">
            </a>
            <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img3}}" class="img" style="height: 191pt;">
            </a>
        </div>
        <div class="card-body">
            <p class="card-text">型番：{{car_obj.model}}</p>
            <p class="card-text">発売期間：{{car_obj.release_period}}</p>
            <p class="card-text">グレード：{{car_obj.grade}}</p>
            <a class="text-secondary" href="/secondhandcar/detail/{{car_obj.id}}">詳しく見る &raquo;</a>
        </div>
    </div>
{% endfor %}
    {% if POST == False %}
        <ul class="pagination justify-content-center">
            {% if secondhandcar_info.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'secondhandcar:search' %}">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.previous_page_number }}">&laquo; prev</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link">&laquo; prev</a>
            </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link">{{ secondhandcar_info.number }}/{{ secondhandcar_info.paginator.num_pages }}</a>
            </li>
            {% if secondhandcar_info.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.next_page_number }}">next &raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link">next &raquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
<style>
.a-secondary {
    text-decoration: none;
}
.a-secondary :hover {
    text-decoration: none;
}
@media screen and (max-width: 599px) {
    img {
        width: 100%;
    }
}
</style>
{% endblock %}