{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "secondhandcar/css/search.css" %}'>
{% endblock %}

    
{% block title %}{{title}}{% endblock %}

{% block main_contents %}
    <form action="{% url 'secondhandcar:search' %}" method="post" >
        {% csrf_token %}
            <div class="m-1 clearfix" id="scrollArea">
                <div id="inner">
                    {% for p_c in p_c_list0 %}
                        <div class="side">
                            <input type="submit" class="btn-ex" name="parent_category" value="{{p_c}}" style="float:left;clear:none;"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </form>
    <div id="btn">
        <button type="button" id="left">&laquo;</button>
        <button type="button" id="right">&raquo;</button>
    </div>

{% for car_obj in secondhandcar_info %}
    <div class="car_detail">
        <h5 style="border-bottom: solid;border-color: rgb(83, 83, 83);padding-left: 20pt;">{{car_obj.category}}({{car_obj.parent_category}})</h5>
        <div class="pic">
            <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img1}}" class="img" style="height: 191pt;">
            </a>
            <!-- <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img2}}" class="img" style="height: 191pt;">
            </a>
            <a href="/secondhandcar/detail/{{car_obj.id}}">
                <img src="{{car_obj.img3}}" class="img" style="height: 191pt;">
            </a> -->
        <div class="listen">
            <div class="p">
                <p class="card-text">型番：{{car_obj.model}}</p>
                <p class="card-text">発売期間：{{car_obj.release_period}}</p>
                <p class="card-text">グレード：{{car_obj.grade}}</p>
            </div>
            <a class="btn-open" href="/secondhandcar/detail/{{car_obj.id}}">詳しく見る &raquo;</a>
        </div>
    </div>
{% endfor %}
    {% if POST == False %}
    <div class="pager">
        <ul class="pagination">
            {% if secondhandcar_info.has_previous %}
            <li class="pre">
                <a href="{% url 'secondhandcar:search' %}" class="next">&laquo; first</a>
            </li>
            <li class="pre">
                <a href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.previous_page_number }}" class="next">&laquo; prev</a>
            </li>
            {% else %}
            <li class="pre">
                <a>&laquo; first</a>
            </li>
            <li class="pre">
                <a>&laquo; prev</a>
            </li>
            {% endif %}
            <li class="active">
                <span>{{ secondhandcar_info.number }}/{{ secondhandcar_info.paginator.num_pages }}</span>
            </li>
            {% if secondhandcar_info.has_next %}
            <li class="pre">
                <a href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.next_page_number }}" class="next">next &raquo;</a>
            </li>
            <li class="pre">
                <a href="{% url 'secondhandcar:search' %}{{ secondhandcar_info.paginator.num_pages }}" class="next">last &raquo;</a>
            </li>
            {% else %}
            <li class="pre">
                <a>next &raquo;</a>
            </li>
            <li class="pre">
                <a>last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <script type="text/javascript" src='{% static "secondhandcar/js/search.js" %}'></script>
{% endblock %}