.reset {
    color: black;
    text-decoration: none;
    font-family: sans-serif; /* 書体もリセットしています。不要であれば削除を */
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* iOSタップ時の挙動を調整 */
}

fieldset {
    border: none;
    padding: 0;
    margin:  0;
    text-align: right;
  }
  
.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
  
.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}
  
.radio-inline__input:checked + .radio-inline__label {
    background: hsl(245, 9%, 28%);
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}
  
.radio-inline__input:focus + .radio-inline__label {
    outline-color: hsl(245, 9%, 28%);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.btn-next{
    font-size: 0.8rem;
    color: #fff;
    background-color: hsl(245, 9%, 28%);
    padding: 0.4rem;
    margin: 0;
    border-radius: 0.3rem;
}
.outer{
    text-align: center;
}
.inner{
    display: inline-block;
    text-align: center;
}
.table td, .table th{
    vertical-align: middle;
}
#delete-btn{
    float: right;
}
#delete-btn small:hover {
    color: #fff;
}
#delete-box {
    border: 2px solid;
    border-color: hsl(245, 9%, 28%);
    border-radius: 8px;
}
.btn-mycolor{
    background-color: hsl(240, 4%, 22%);
    color: #fff;
}
.btn-mycolor:hover{
    color: #fff;
}
.now{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px hsl(240, 4%, 22%);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    width: 9%;
    position:fixed;
    opacity: 0.8;
}
.now p {
    margin: 0; 
    padding: 0;
    font-weight: 500;
}

/* .footer {
    margin: 0 160pt;
} */
.monthbtn {
    clear: none;
    height: 30pt;
    font-size: 11pt;
    margin: 3pt 10pt 3pt 10pt;
    border-color: #696969;
    float: right;
    padding-top: 6pt;
    padding-bottom: 5pt;
}

h1 {
    margin-bottom: 20pt;
    margin-top: 20pt;
    font-size: 25pt;
}

.hyo {
    border-top: solid;
    border-bottom: solid;
    background-color: #fff;
} 
.open{
    display: block;
}
.close{
    display: none;
}
.button-icon {
	width: auto;
	padding:0;
	margin:0;
	background:none;
	border:0;
	font-size:0;
	line-height:0;
 	overflow:visible;
	cursor:pointer;
    float: right;
}

.list-group-item {
    border: 0px;
    padding: 2pt;
}
.leftbox{
    float: left;
    width: 40%;
    padding: 5px;
}
.leftbox2{
    float: left;
    width: 100%;
    padding: 5px;
}
.rightbox{
    width: 60%;
    float: right;
}

/* .pc { 
    display: block !important; 
} */

.sp {
     display: none !important; 
}

.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #fc3016 0%, #fc3016 100%);
    transition: .4s;
  }
  
  .btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, #e00a0a 0%, #e00a0a 100%);
    text-decoration: none;
    color: #FFF;
  }

@media screen and (max-width: 599px) {
    h1 {
        font-size: 20pt;
    }

    .leftbox{
        float: left;
        width: 100%;
        padding: 1px;
    }
    .leftbox2 {
        padding: 1px;
    }
    .rightbox{
        width: 100%;
        float: none;
    }
    .list-group-item {
        padding: 0;
    }
    .radio-inline__label {
        float: left;
    }

    .pc {
         display: none !important; 
    }

    .sp {
         display: block !important; 
    }

    th,td {
        display: block;
        width: 100%;
    }

    .hyo {
        border-top: none;
        border-bottom: none;
        background-color: #fff;
        width: 100%;
    } 

    .now {
        width: 100%;
        position: static;
    }
    
}