{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ message }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <link rel="stylesheet" href='{% static "carsharing_booking/css/map.css" %}'>
{% endblock %}

{% block main_contents %}
<div id="map_info">
    {{address}}
</div>
<div class="card">
<form action="{% url 'carsharing_booking:checkbooking' %}" method="post">
    {% csrf_token %}
<table class="table">
    <tr class="card-header"><th>予約</th><th>画像</th><th>メーカー</th><th>車種</th><th>型番</th><th>乗車人数</th><th>タイヤ</th><th>AT/MT</th><th>搭載機能</th></tr>
{% for car_obj in car_objs %}
    <tr><td><input type="radio" name="car_id" value="{{car_obj.id}}" onchange="selectNum()" required><td><img src="/media/{{car_obj.img}}" width="110"　border="0" /></td></td><td>{{car_obj.parent_category}}</td><td>{{car_obj.category}}</td><td>{{car_obj.model_id}}</td><td>{{car_obj.people}}人</td><td>{{car_obj.tire}}</td><td>{{car_obj.at_mt}}車</td>
        <td>
        {% if car_obj.babysheet == True %}
        <li>チャイルドシート</li>
        {% endif %}
        {% if car_obj.car_nav == True %}
        <li>カーナビ</li>
        {% endif %}
        {% if car_obj.etc == True %}
        <li>ETC</li>
        {% endif %}
        {% if car_obj.car_autonomous == True %}
        <li>自動運動</li>
        {% endif %}
        {% if car_obj.around_view_monitor == True %}
        <li>駐車アシスト</li>
        {% endif %}
        {% if car_obj.non_smoking == True %}
        <li>禁煙</li>
        {% endif %}
        </td>
    </tr> 
{% endfor %}
</table>
</div>
<br>
<div class="clearfix">
    <div class="w-50 float-left p-5" id="calendar"></div>
    <div id="form" class="w-50 float-left p-5">
        <div id="hour-box" class="hour-button-box">
            <input name="hour" type="radio" value="1" id="rb_1" />
            <label for="rb_1">1時間</label>
            <input name="hour" type="radio" value="3" id="rb_3" />
            <label for="rb_3">3時間</label>
            <input name="hour" type="radio" value="6" id="rb_6" />
            <label for="rb_6">6時間</label>
        </div>
            <input id="addressPush" type="hidden" name="address">
                {{ form.as_p }}
                {{ form.media }}
            <input class="btn btn-outline-secondary" type="submit" value="確認" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        <div id="jquery"></div>
    </div>
</div>
</form>
{% endblock %}

{% block mapapi %}
<script>
    var all_events = JSON.parse('{{ events|safe }}');
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/map-calendar.js" %}'></script>
<script type="text/javascript" src='{% static "carsharing_booking/js/booking-jquery.js" %}'></script>
{% endblock %}