{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ message }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <link rel="stylesheet" href='{% static "carsharing_booking/css/map.css" %}'>
{% endblock %}

{% block main_contents %}
<div id="map_info">
    {{address}}
</div>
<div class="card">
<form action="{% url 'carsharing_booking:checkbooking' %}" method="post">
    {% csrf_token %}
<table class="table">
    <tr class="card-header"><th>予約</th><th>車両ID</th><th>メーカー</th><th>車種</th><th>型番</th><th>乗車人数</th><th>カスタム</th><th>タイヤ</th></tr>
{% for car_obj in car_objs %}
    <tr><td><input type="radio" name="car_id" value="{{car_obj.id}}" onchange="selectNum()" required></td><td>{{car_obj.id}}</td><td>{{car_obj.parent_category}}</td><td>{{car_obj.category}}</td><td>{{car_obj.model_id}}</td><td>{{car_obj.people}}</td><td>{{car_obj.custom}}</td><td>{{car_obj.tire}}</td></tr> 
{% endfor %}
</table>
</div>
<br>
<div class="clearfix">
    <div class="w-50 float-left p-5" id="calendar"></div>
    <div class="w-50 float-left p-5">
            <input id="addressPush" type="hidden" name="address">
                {{ form.as_p }}
                {{ form.media }}
            <input class="btn btn-outline-secondary" type="submit" value="予約" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
    </div>
</div>
</form>
{% endblock %}

{% block mapapi %}
<script>
    var all_events = JSON.parse('{{ events|safe }}');
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/map-calendar.js" %}'></script>
{% endblock %}