{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_booking/css/car.css" %}'>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<h1>クイック車種検索</h5>
<form action="{% url 'carsharing_booking:selectcar' %}" method="post" >
    {% csrf_token %}
    <div class="p-2 float-left">
    {{ form.as_table }}
    </div>
    <div class="tab float-right">
        <h4>詳細検索</h4>
        <div class="p-0">
            <div class="p-2 float-left">
                <label for="id_people">乗車人数:</label>
                <input type="number" name="people" class="form-control">
            </div>
            <div class="p-2 float-left">
                <label for="id_at_mt">AT車・MT車</label>
                    <select class="form-control" name="at_mt" id="at_mt">
                        <option></option>
                        <option>AT車</option>
                        <option>MT車</option>
                    </select>
            </div>
            
            <div class="check p-2 float-right m-0 form-check form-check-inline">
            <div class="w-100">
                <input class="form-check-input" type="checkbox" name="option" id="babysheet" value='babysheet'>
                <label class="form-check-label" for="babysheet">チャイルドシート</label><br>
                <input class="form-check-input" type="checkbox" name="option" id="around_view_monitor" value="around_view_monitor">
                <label class="form-check-label" for="around_view_monitor">駐車アシスト</label><br>
                <input class="form-check-input" type="checkbox" name="option" id="car_autonomous" value="car_autonomous">
                <label class="form-check-label" for="car_autonomous">自動運転</label>
            </div>
            <div class="w-100">
                <input class="form-check-input" type="checkbox" name="option" id="car_nav" value="car_nav">
                <label class="form-check-label" for="car_nav">カーナビ</label><br>
                <input class="form-check-input" type="checkbox" name="option" id="etc" value="etc">
                <label class="form-check-label" for="etc">ETC</label><br>
                <input class="form-check-input" type="checkbox" name="option" id="non_smoking" value="non_smoking">
                <label class="form-check-label" for="non_smoking">禁煙車両</label>
            </div>
            </div>
            <input class="btn float-right" type="submit" value="詳細検索">
        </div>
    </div>
</form>

<table class="table">
<thead>
    <tr class="tr">
      {% comment %} <th scope="col">ID</th> {% endcomment %}
      <th scope="col">車種（メーカー）</th>
      <th scope="col">住所</th>
      <th scope="col">型番</th>
      <th scope="col">乗車人数</th>
      <th scope="col">使用年数</th>
      <th scope="col">予約する</th>
    </tr>
</thead>
    <tbody id="parent-div"></tbody>
</table>
{% for item in car_obj %}
<table>
    <tr>
        <th>{{item.id}}</th>
    </tr>
    <tr>
        <td>{{item.category}}</td>
        <td>{{item.parent_category}}</td>
    </tr>
</table>
    <!-- {{item.id}}
    {{item.category}}
    {{item.parent_category}}
    {{item.address}} -->
{% endfor %}
<script>
    var jsonData = JSON.parse('{{ json_car|safe }}');

    const parentCategoryElement = $('#id_parent_category');
    const categoryElement = $('#id_category');
    const categories = {
        {% for parent in parentcategory_list %}
            '{{ parent.pk }}': [
                {% for category in parent.category_set.all %}
                    {
                        'pk': '{{ category.pk }}',
                        'name': '{{ category.category }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };

    ;;
</script>
<script>
    target1 = document.getElementById("id_category");
    target1.innerHTML = '';
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/car-booking.js" %}'></script>
{% endblock %}