{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<form>
    {{ form.as_table }}
</form>

<table class="table">
<thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">住所</th>
      <th scope="col">車種（メーカー）</th>
      <th scope="col">型番</th>
      <th scope="col">乗車人数</th>
      <th scope="col">使用年数</th>
      <th scope="col">予約する</th>
    </tr>
</thead>
    <tbody id="parent-div"></tbody>
</table>
<script>
    var jsonData = JSON.parse('{{ json_car|safe }}');

    const parentCategoryElement = $('#id_parent_category');
    const categoryElement = $('#id_category');
    const categories = {
        {% for parent in parentcategory_list %}
            '{{ parent.pk }}': [
                {% for category in parent.category_set.all %}
                    {
                        'pk': '{{ category.pk }}',
                        'name': '{{ category.category }}'
                    },
                {% endfor %}
            ],
        {% endfor %}
    };

    ;;
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/car-booking.js" %}'></script>
{% endblock %}