{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <link rel="stylesheet" href='{% static "carsharing_booking/css/car_next.css" %}'>
{% endblock %}

{% block main_contents %}
    <div id="map_info">
        {{address}}
    </div>
    <div class="card">
    <table class="table">
        <tr class="card-header"><th>画像</th><th>メーカー</th><th>車種</th><th>型番</th><th>乗車人数</th><th>タイヤ</th><th>AT/MT</th><th>搭載機能</th></tr>
        <tr><td><img src="/media/{{car_data.img}}" width="110" border="0" /></td></td><td>{{car_data.parent_category}}</td><td>{{car_data.category}}</td><td>{{car_data.model_id}}</td><td>{{car_data.people}}</td><td>{{car_data.tire}}</td><td>{{car_data.at_mt}}車</td>
            <td>
            {% if car_data.babysheet == True %}
            <li>チャイルドシート</li>
            {% endif %}
            {% if car_data.car_nav == True %}
            <li>カーナビ</li>
            {% endif %}
            {% if car_data.etc == True %}
            <li>ETC</li>
            {% endif %}
            {% if car_data.car_autonomous == True %}
            <li>自動運動</li>
            {% endif %}
            {% if car_data.around_view_monitor == True %}
            <li>駐車アシスト</li>
            {% endif %}
            {% if car_data.non_smoking == True %}
            <li>禁煙</li>
            {% endif %}
            </td>
        </tr> 
    </table>
    </div>
    <div class="clearfix">
        <div class="w-50 float-left p-5" id="calendar"></div>
        <div class="w-50 float-left p-5">
        <form action="{% url 'carsharing_booking:checkbooking' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="car_id" value="{{car_id}}" required>
            {{ form.as_p }}
            {{ form.media }}
            <input class="btn btn-outline-secondary" type="submit" value="予約" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </form>
        <div id="jquery"></div>
        </div>
    </div>
{% endblock %}

{% block mapapi %}
<script>
  var events = JSON.parse('{{ events|safe }}');
</script>
<script type="text/javascript" src='{% static "carsharing_req/js/calendar.js" %}'></script>
<script type="text/javascript" src='{% static "carsharing_booking/js/booking-jquery.js" %}'></script>
{% endblock %}