{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <!-- <link rel="stylesheet" href='{% static "carsharing_booking/css/list.css" %}'> -->
  <link rel="stylesheet" href='{% static "carsharing_booking/css/delete.css" %}'>
{% endblock %}

{% block main_contents %}
<div class="m-2 clearfix" id="delete-box" style="border: none;">
    <h2 class="m-0" style="border-bottom: solid;border-color: rgb(83, 83, 83);">{{ title }}</h2>
{% if flag == "car" %}
        <!-- <div class="detail">
        </div> -->
{% else %}
        <!-- <div class="details">
        </div> -->
{% endif %}
        <div class="detail">            
            <h6 class="pb-4"><strong>予約情報</strong></h6>
            <p>開始日：{{booking.start_day}}</p>
            <p>開始時刻：{{booking.start_time}}</p>
            <p>終了日：{{booking.end_day}}</p>
            <p>終了時刻：{{booking.end_time}}</p>
            <p>料金：{{booking.charge}}円</p>
        </div>
        <div class="details">
            <h6 class="pb-4"><strong>駐車場情報</strong></h6>
            <div id="map"></div>
            <p>住所：{{parking_obj.address}}</p>
            <p>駐車場タイプ：{{parking_obj.parking_type}}</p>
            <p>土地タイプ：{{parking_obj.ground_type}}</p>
            <p>横幅：{{parking_obj.width}}m</p>
            <p>奥行き：{{parking_obj.length}}m</p>
            {% if parking_obj.height != 0 %}
            <p>高さ：{{parking_obj.height}}m</p>
            {% endif %}
        </div>
{% if flag == "car" %}
        <div class="detail">
            <h6><strong>車両情報</strong></h6>
            <div class="m-2">
                <img border="0" src="/media/{{car_obj.img}}" width="200" alt="{{car_obj.img}}">
            </div>
            <p>車種(メーカー)：{{car_obj.category}}({{car_obj.parent_category}})</p>
            <p>型番：{{car_obj.model_id}}</p>
            <p>乗車人数：{{car_obj.people}}人</p>
            <p>変速システム：{{car_obj.at_mt}}車</p>
            <p>搭載機能：</p>
            {% if car_obj.babysheet == True %}
            <li>チャイルドシート</li>
            {% endif %}
            {% if car_obj.car_nav == True %}
            <li>カーナビ</li>
            {% endif %}
            {% if car_obj.etc == True %}
            <li>ETC</li>
            {% endif %}
            {% if car_obj.car_autonomous == True %}
            <li>自動運動</li>
            {% endif %}
            {% if car_obj.around_view_monitor == True %}
            <li>駐車アシスト</li>
            {% endif %}
            {% if car_obj.non_smoking == True %}
            <li>禁煙</li>
            {% endif %}
        </div>
{% endif %}
</div>
{% if flag == "car" %}
    <form action="{% url 'carsharing_booking:delete' %}" method="post" >
        {% csrf_token %}
        <input type="hidden" name="flag" value="{{flag}}">
        <input type="hidden" name="id" value="{{booking.id}}">
        <input class="reset btn-gradient-radius float-right" type="submit" value="キャンセル確定">
    </form>
{% else %}
    <form action="{% url 'carsharing_booking:delete' %}" method="post" >
        {% csrf_token %}
        <input type="hidden" name="flag" value="{{flag}}">
        <input type="hidden" name="id" value="{{booking.id}}">
        <input class="btn-gradient-radius float-right" type="submit" value="キャンセル確定">
    </form>
{% endif %}
<script>
const lat = {{parking_obj.lat}};
const lng = {{parking_obj.lng}};
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/booking-map.js" %}'></script>
{% endblock %}

{% block mapapi %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->
{% endblock %}
