{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_booking/css/index.css" %}'>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<!-- 地図からの予約 -->
<div class="card-park">
    <h4 class="card-header-park">地図から予約</h2>
        <div class="card-body-park">
            <a href="map"><img src='{% static "admin/img/carsharing.jpg" %}' class="park"></a>
            <div id="park">
                <p class="card-text mt-3">利用したい場所を地図から選択して予約をします。</p>
                <p class="card-text">近い場所から選んでね</p>
                <a class="btn" id="parking" href="map">予約する</a>
            </div>
        </div>
</div>
<div class="card-car">
    <h4 class="card-header-car">車両から予約</h2>
    <div class="card-body-car">
        <a href="map"><img src='{% static "admin/img/carsharing.jpg" %}' class="car"></a>
        <div id="car">
            <p class="card-text mt-3">利用したい車両を選択して予約をします。</p>
            <p class="card-text">好きな車を選んでね</p>
            <a class="btn" id="carsharing" href="car">予約する</a>
        </div>
    </div>
</div>
<div class="card-time">
    <h4 class="card-header-time">時間から予約</h2>
    <div class="card-body-time">
        <a href="map"><img src='{% static "admin/img/carsharing.jpg" %}' class="time"></a>
        <div id="time">
            <p class="card-text mt-3">利用したい時間を選択して予約をします。</p>            <p class="card-text">好きな時間を選んでね</p>
            <a class="btn" id="timing" href="car">予約する</a>
        </div>
    </div>
</div>
{% endblock %}