{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_booking/css/index.css" %}'>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<!-- 地図からの予約 -->
<div class="card-park">
    <h4 class="card-header-park">近隣の利用可能な車を探す</h2>
        <div class="card-body-park">
            <a href="map"><img src='{% static "admin/img/carsharing.jpg" %}' class="park"></a>
            <div id="park">
                <p class="card-text mt-3">利用したい場所を地図から選択して予約をします</p>
                <p class="card-text">近い場所から選んでね</p>
                <a id="log-btn" class="btn" id="parking" href="map" role="button">自宅付近で予約する</a>
                <form action="{% url 'carsharing_booking:geo' %}" method="post" id="myForm" name="myForm">
                    {% csrf_token %}
                    <input id="log-btn" class="btn" type="submit" value="現在地から予約する">
                </form>
            </div>
        </div>
</div>
<div class="card-car">
    <h4 class="card-header-car">乗りたい車両で探す</h2>
    <div class="card-body-car">
        <a href="car"><img src='{% static "admin/img/carsharing03.jpg" %}' class="car"></a>
        <div id="car">
            <p class="card-text mt-3">利用したい車両を選択して予約をします</p>
            <p class="card-text">好きな車を選んでね</p>
            <a id="log-btn" class="btn" id="carsharing" href="car" role="button">予約する</a>
        </div>
    </div>
</div>
<div class="card-time">
    <h4 class="card-header-time">過去の履歴から探す</h2>
    <div class="card-body-time">
        <a href="history"><img src='{% static "admin/img/choce.jpg" %}' class="time"></a>
        <div id="time">
            <p class="card-text mt-3">過去に利用した情報から予約します</p>            
            <p class="card-text">履歴から選んでね</p>
            <a id="log-btn" class="btn" id="timing" href="history" role="button">予約する</a>
        </div>
    </div>
</div>
<div class="card-favorite">
    <h4 class="card-header-favorite">お気に入り</h2>
    <div class="card-body-favorite">
        <a href="favoritelist"><img src='{% static "admin/img/carsharing01.jpg" %}' class="favorite"></a>
        <div id="favorite">
            <p class="card-text mt-3">お気に入り登録した情報から予約します</p>            
            <p class="card-text">お気に入りに追加してね</p>
            <a id="log-btn" class="btn" id="favorite" href="favoritelist" role="button">予約する</a>
        </div>
    </div>
</div>
<script type="text/javascript" src='{% static "carsharing_booking/js/geolocation-positioning.js" %}'></script>
{% endblock %}