{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href='{% static "carsharing_booking/css/list.css" %}'>
  <script type="text/javascript" src='{% static "carsharing_booking/js/display-switch.js" %}'></script>
{% endblock %}

{% block main_contents %}
{% if title == "利用履歴一覧" %}
  <div class="now">
    <p style="text-align: center;">{{now}}</p>
  </div>
{% endif %}
<fieldset class="mt-4">
  <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" onchange="displayswitch()" checked="checked"/>
  <label class="radio-inline__label" for="item-1">
      カーシェア{{title}}
  </label>
  <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" onchange="displayswitch()" value="item-2"/>
  <label class="radio-inline__label" for="item-2">
      駐車場{{title}}
  </label>
  <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" onchange="displayswitch()" value="item-3"/>
  <label class="radio-inline__label" for="item-3">
      両{{title}}
  </label>
</fieldset>
{% if title == "利用履歴一覧" %}
<div class="clearfix">
  <a href="{{prev_url}}" class="btn-mycolor btn-lg float-left monthbtn" role="button">先月</a>
  <a href="{{next_url}}" class="btn-mycolor btn-lg float-right monthbtn" role="button">翌月</a>
</div>
{% endif %}
<div id="div1">
<h1>カーシェア{{title}}</h1>
<table class="table table-sm pc">
  <thead>
    <tr class="hyo">
      <th scope="col">画像</th>
      <th scope="col">開始時間</th>
      <th scope="col">終了時間</th>
      <th scope="col">車種</th>
      <th scope="col">住所</th>
      <th scope="col">料金</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>
    <tbody>
{% for item in data %}
    <tr>
      <td class="outer"><img src="/media/{{item.img}}" class="inner" style="height: 50pt;"></td>
      <td>{{item.start_day}}<br>{{item.start_time}}</td>
      <td>{{item.end_day}}<br>{{item.end_time}}</td>
      <td>{{item.category}}</td>
      <td>{{item.address}}</td>
      <td>{{item.charge}}円</td>
      <form method="post" >
        {% csrf_token %}
        <input type="hidden" name="flag" value="car">
        <input type="hidden" name="booking" value="{{item.id}}">
        <input type="hidden" name="car" value="{{item.car_id}}">
        <input type="hidden" name="parking" value="{{item.parking_id}}">
        <th class="outer"><input type="submit" class="reset btn-next inner" value="詳しく見る"></th>
      </form>
    </tr>
{% endfor %}
  </tbody>
</table>

<table class="table sp">
  <thead>
    {% for item in data %}
    <form method="post" >
    {% csrf_token %}
    <tr class="hyo">
      <th scope="col">画像</th>
      <td class="outer"><img src="/media/{{item.img}}" class="inner" style="height: 50pt;"></td>
      <input type="hidden" name="flag" value="car">
      <th scope="col">日時</th>
      <td>{{item.start_day}} {{item.start_time}} ~ {{item.end_day}} {{item.end_time}}</td>
      <input type="hidden" name="booking" value="{{item.id}}">
      <th scope="col">車種</th>
      <td>{{item.category}}</td>
      <input type="hidden" name="car" value="{{item.car_id}}">
      <th scope="col">住所</th>
      <td>{{item.address}}</td>
      <input type="hidden" name="parking" value="{{item.parking_id}}">
      <th scope="col">料金</th>
      <td>{{item.charge}}円</td>
      <th scope="col">詳細</th>
      <th class="outer"><input type="submit" class="btn-next inner" value="詳しく見る"></th>
    </form>
      {% endfor %}
    </tr>
  </thead>
</table>

</div>
<div id="div2">
<h1>駐車場{{title}}</h1>
<table class="table table table-sm pc">
  <thead>
    <tr class="hyo">
      <th scope="col">開始時間</th>
      <th scope="col">終了時間</th>
      <th scope="col">住所</th>
      <th scope="col">料金</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>
  <tbody>
{% for item in data2 %}
    <tr>
      <td>{{item.start_day}}<br>{{item.start_time}}</td>
      <td>{{item.end_day}}<br>{{item.end_time}}</td>
      <td >{{item.address}}</td>
      <td >{{item.charge}}円</td>
      <form method="post" >
        {% csrf_token %}
        <input type="hidden" name="flag" value="parking">
        <input type="hidden" name="booking" value="{{item.id}}">
        <input type="hidden" name="parking" value="{{item.parking_id}}">
        <th class="outer"><input type="submit" class="btn-next inner" value="詳しく見る"></th>
      </form>
    </tr>
{% endfor %}
  </tbody>
</table>

<table class="table table sp">
  <thead>
    {% for item in data2 %}
      <form method="post" >
    {% csrf_token %}
      <tr class="hyo">
        <th scope="col">日時</th>
        <td>{{item.start_day}}{{item.start_time}} ~ {{item.end_day}}{{item.end_time}}</td>
        <th scope="col">住所</th>
        <td >{{item.address}}</td>
        <th scope="col">料金</th>
        <td >{{item.charge}}円</td>
        <th scope="col">詳細</th>
        <input type="hidden" name="flag" value="parking">
        <input type="hidden" name="booking" value="{{item.id}}">
        <input type="hidden" name="parking" value="{{item.parking_id}}">
        <th class="outer"><input type="submit" class="btn-next inner" value="詳しく見る"></th>
      </tr>
    </form>
  </thead>
{% endfor %}
</table>

</div>
{% endblock %}