{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href='{% static "carsharing_booking/css/list.css" %}'>
  <link rel="stylesheet" href='{% static "owners_req/css/numberplate.css" %}'>
{% endblock %}

{% block main_contents %}
<div class="m-5">
    <h1>{{ title }}</h1>
        <div class="p-2">
            <div class="start">
                <p>開始日：{{booking.start_day}}</p>
                <p>開始時刻：{{booking.start_time}}</p>
            </div>
            <div class="finish">
                <p>終了日：{{booking.end_day}}</p>
                <p>終了時刻：{{booking.end_time}}</p>
                <p>料金：{{booking.charge}}円</p>
            </div>
        </div>
{% if flag == "car" %}
    <h1>車両{{ title }}</h1>
        <div class="p-2">
            <div class="pic m-0"> 
                <img border="0" src="/media/{{data.img}}" alt="{{data.img}}" class="img mr-5 float-left">
                <div class="card" id="numberplate">
                    <div class="container clearfix" id="numberplate-top">
                        <p class="numberplate-top-item">{{ data.license_plate_place }}</p>
                        <p class="numberplate-top-item">{{ data.license_plate_type }}</p>
                    </div>
                    <div class="container" id="numberplate-bottom">
                        <p class="numberplate-bottom-item1">{{ data.license_plate_how }}</p>
                        <p class="numberplate-bottom-item2">{{ data.license_plate_num }}</p>
                    </div>
                </div>
            </div>
            <div class="detail" style="clear:both;">
                <div class="car">
                    <p>車種(メーカー)：<br>　{{data.category}}({{data.parent_category}})</p>
                    <p>型番：{{data.model_id}}</p>
                    <p>乗車人数：{{data.people}}人</p>
                    <p>変速システム：{{data.at_mt}}車</p>
                </div>
                <div class="cars" style="float:left;">
                    <p>搭載機能：</p>
                    {% if data.babysheet == True %}
                    <li>チャイルドシート</li>
                    {% endif %}
                    {% if data.car_nav == True %}
                    <li>カーナビ</li>
                    {% endif %}
                    {% if data.etc == True %}
                    <li>ETC</li>
                    {% endif %}
                    {% if data.car_autonomous == True %}
                    <li>自動運動</li>
                    {% endif %}
                    {% if data.around_view_monitor == True %}
                    <li>駐車アシスト</li>
                    {% endif %}
                    {% if data.non_smoking == True %}
                    <li>禁煙</li>
                    {% endif %}
                </div>
            </div>
        </div>
{% endif %}
    <h1 class="one" style="float:left;clear:both;">駐車場{{ title }}</h1>
        <div class="card-body p-2">
            <div id="map" style="width:100%; height:400px"></div>
            <div class="br1">
                <p>住所：{{data2.address}}</p>
                <p>駐車場タイプ：{{data2.parking_type}}</p>
                <p>土地タイプ：{{data2.ground_type}}</p>
            </div>
            <div class="br2">
                <p>横幅：{{data2.width}}m</p>
                <p>奥行き：{{data2.length}}m</p>
                {% if data2.height != 0 %}
                <p>高さ：{{data2.height}}m</p>
                {% endif %}
            </div>
        </div>
</div>
{% if title == "予約詳細" %}
    {% if flag == "car" %}
        <a href="../delete/{{flag}}/{{booking.id}}" class="btn-gradient-radius float-right" role="button"><small>キャンセル</small></a>
    {% else %}
        <a href="../delete/{{flag}}/{{booking.id}}" class="btn-gradient-radius float-right" role="button"><small>キャンセル</small></a>
    {% endif %}
{% else %}
    {% if flag == "car" %}
        <a href="/carsharing_booking/car/{{data.id}}" id="delete-btn" class="btn text-secondary" role="button"><small>もう一度予約</small></a>
    {% comment %} {% else %}
        <a href="/carsharing_booking/booking/{{data2.id}}" id="delete-btn" class="btn btn-outline-danger text-danger" role="button"><small>もう一度予約</small></a> {% endcomment %}
    {% endif %}
{% endif %}
<script>
const lat = {{data2.lat}};
const lng = {{data2.lng}};
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/booking-map.js" %}'></script>
{% endblock %}

{% block mapapi %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->
{% endblock %}