{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<h1>カーシェア予約一覧</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">start</th>
      <th scope="col">end</th>
      <th scope="col">car_id</th>
      <th scope="col">charge</th>
    </tr>
  </thead>
{% for item in data %}
  <tbody>
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.start_day}}.{{item.start_time}}</td>
      <td>{{item.end_day}}.{{item.end_time}}</td>
      <td>{{item.car_id}}</td>
      <td>{{item.charge}}</td>
    </tr>
  </tbody>
{% endfor %}
</table>

<h1>駐車場予約一覧</h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">start</th>
      <th scope="col">end</th>
      <th scope="col">charge</th>
    </tr>
  </thead>
{% for item in data2 %}
  <tbody>
    <tr>
      <th scope="row">{{item.id}}</th>
      <td>{{item.start_day}}.{{item.start_time}}</td>
      <td>{{item.end_day}}.{{item.end_time}}</td>
      <td>{{item.charge}}</td>
    </tr>
  </tbody>
{% endfor %}
</table>

{% endblock %}