{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_booking/css/map.css" %}'>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block main_contents %}
<div id="map_info" style="width: 750pt;">
  <span id="venue">
  {% if name == '現在地' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill float-left mt-1 mr-1" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
  </svg>
  {% elif name == '自宅' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill float-left mt-1 mr-1" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
  </svg>
  {% elif name == '検索' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search float-left mt-1 mr-1" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg>
  {% endif %}
  <p>{{ name }}<p>
  </span>
  <p id="address">{{ add }}</p>
  <span id="url"><a href="/carsharing_req/carsharuserdata" target="_blank"></a></span>
  <p id="zoom">17</p>
</div>
<div id="map_container">
  <div id="map_canvas"></div>
</div>
<form action="{% url 'carsharing_booking:map' %}" method="post">  
<div class="input-group mb-4 my-3">
  {% csrf_token %}
  <input type="text" class="form-control" placeholder="検索" aria-label="Recipient's username" aria-describedby="basic-addon2" name="add" size="20" maxlength="20">
  <div class="input-group-append">
    <div class="my-0">
    <input type="submit" value="click" class="input-group-text" id="basic-addon2">
  </div>
  </div>
</div>
</form>
<script>
  const data = JSON.parse('{{ data_json|safe }}');
{% if latlng == 'undefined' %}
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/settingmap.js" %}'></script>
{% else %}
  const mylocation = '{{latlng}}';
  const mylat = parseFloat('{{lat}}');
  const mylng = parseFloat('{{lng}}');
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/settinggeo.js" %}'></script>
{% endif %}
{% endblock %}


{% block mapapi %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->
{% endblock %}