{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href='{% static "carsharing_booking/css/map.css" %}'>
{% endblock %}

{% block main_contents %}
<div id="map_info" style="width: 750pt;">
  <p id="venue">{{ name }}</p>
  <p id="address">{{ add }}</p>
  <p id="url"><a href="/carsharing_req/carsharuserdata" target="_blank">www.tokyo-skytree.jp</a></p>
  <p id="zoom">17</p>
</div>
<div id="map_container">
  <div id="map_canvas"></div>
</div>
<form action="{% url 'carsharing_booking:map' %}" method="post">  
<div class="input-group mb-4 my-3">
  {% csrf_token %}
  <input type="text" class="form-control" placeholder="検索" aria-label="Recipient's username" aria-describedby="basic-addon2" name="add" size="20" maxlength="20">
  <div class="input-group-append">
    <div class="my-0">
    <input type="submit" value="click" class="input-group-text" id="basic-addon2">
  </div>
  </div>
</div>
</form>
<script>
  const data = JSON.parse('{{ data_json|safe }}');
{% if latlng == 'undefined' %}
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/settingmap.js" %}'></script>
{% else %}
  const mylocation = '{{latlng}}';
  const mylat = parseFloat('{{lat}}');
  const mylng = parseFloat('{{lng}}');
</script>
<script type="text/javascript" src='{% static "carsharing_booking/js/settinggeo.js" %}'></script>
{% endif %}
{% endblock %}


{% block mapapi %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8qh0jtaDs4HXKs6HAqRxvqx2xhylSSGk&callback=initMap" async defer></script>
<!-- YOUR_API_KEYの部分は取得した APIキーで置き換えます -->
{% endblock %}