.navbar {
    padding: 0px;
    height: 50pt;
    padding: 5pt 20pt 5pt 20pt;
    width: 100%;
    margin-bottom: 5pt;
    background-color: #87CEEB;
}

.logo3 {
    width: 35pt;
    height: 35pt;
}

.nav-link {
    color:#696969;
    /* text-align: center;
    float: left;
    margin: 0px 15px 0px 15px; */
}

.logout {
    color: #333;
    font-size: 11pt;
}

.login {
    color: #333;
}

.container {
    padding: 5pt;
}

.socialaccount_providers {
    margin-right: 5pt; 
    padding: 0px;
}

.w-100 {
    padding: 5px;
}

.col-md-15 {
    margin: 10pt;
    padding: 8pt;
    float: left;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #fff;
    left:0;
    line-height:1;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.navbar01 {
    border-right: 1px solid #333;
    width: 18%;
    text-align: center;
    padding-top: 8pt;
    font-weight: bolder;
    font-size: 12pt;
}

.navbar02 {
    width: 18%;
    text-align: center;
    padding-top: 8pt;
    font-weight: bolder;
    font-size: 12pt;
}

.navbar01:hover {
    background-color: #DCDCDC;
    color: #000;
}

.navbar02:hover {
    background-color: #DCDCDC;
    color: #000;
}

.btn {
    height: 30pt;
    width: 75pt;
    font-size: 12pt;
    margin: 3pt 10pt 3pt 10pt;
    border-color: #CDCDCD;
    float: right;
    clear: both;
    padding: auto;
}

.btn:hover {
    background-color: #CDCDCD;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.nav {
    padding: 10pt 0pt 10pt 0pt;
}

.dropdown-item {
    margin: 4pt 0 4pt 0;
}