.three {
    width: 100%;
    margin: 5pt;
    clear: both;
}

.card {
    width: 33%;
    float: left;
    height: 250pt;
    margin: 5pt 0 5pt 0;
}

.flow {
    color: #333;
}

.flow {
    text-decoration: underline;
}

#btn1 {
    width: 80pt;
}
