.btn {
    float: right;
    width: 80pt;
    height: 30pt;
    margin: 5pt;
}
#map_info {
    padding: 0.5em 1em;
    margin-bottom: 20pt;
    color: #5d627b;
    background: white;
    border-top: solid 5px rgb(83, 83, 83);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width: 100%;
  }