#numberplate{
    width: 200px;
    height: 100px;
}
#numberplate-top{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#numberplate-bottom{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
}
.numberplate-top-item{
    float: left;
    color: #174626;
    margin: 5px;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
}
.numberplate-bottom-item1{
    float: left;
    color: #174626;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 15px;
}
.numberplate-bottom-item2{
    float: left;
    color: #174626;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    font-family: 'Oswald';
}

h1 {
    font-size: 25pt;
    /* border-bottom: solid;
    border-color: rgb(83, 83, 83); */
}

.finish {
    float: left;
    width: 50%;
}

.start {
    float: left;
    width: 50%;
}

img {
    width: 50%;
    /* float: left; */
    margin-right: 0pt;
}

.detail {
    float: left;
    display: block;
    width: 50%;
    margin-left: 30pt;
}

.pic {
    width: 50%;
    margin-right: 0pt;
    box-sizing: border-box;
}

.br2 {
    display: block;
    width: 50%;
    float: left;
}

.br1 {
    width: 50%;
    float: left;
}

.car {
    width: 50%;
    float: left;
}

.cars {
    width: 50%;
    float: left;
    display: block;
}

.btn {
    height: 30pt;
    font-size: 11pt;
    margin: 3pt 10pt 3pt 10pt;
    border-color: #696969;
    float: right;
    clear: both;
    padding-top: 6pt;
    padding-bottom: 5pt;
  }

  .btn:hover {
    background-color: #CDCDCD;
  }
  
  .x {
      clear: both;
  }

  .row {
      border-bottom: solid;
      border-color: rgb(83, 83, 83);
  }

@media (max-width: 670px){
  h1 {
      font-size: 20pt;
      width: 100%;
      clear: both;
  }

  .start, .finish, img, .card, .car, .cars, .br1, .br2 {
      width: 100%;
  }

  img {
      width: 200%;
  }
}