  * {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  dd {
    margin-left: 0;
  }
  
  .flow {
    padding-left: 120px;
    position: relative;
  }
  .flow::before {
    content: "";
    width: 15px;
    height: 100%;
    background: #eee;
    margin-left: -8px;
    display: block;
    position: absolute;
    top: 0;
    left: 120px;
  }
  .flow > li {
    position: relative;
  }
  .flow > li:not(:last-child) {
    margin-bottom: 8vh;
  }
  .flow > li .icon {
    font-size: 12px;
    color: #fff;
    background: rgb(107,144,219);
    background: -moz-linear-gradient(left, rgb(181, 181, 182) 0%, rgb(54, 56, 56) 100%);
    background: -webkit-linear-gradient(left, rgb(181, 181, 182) 0%,rgb(54, 56, 56) 100%);
    background: linear-gradient(to right, rgb(181, 181, 182) 0%,rgb(54, 56, 56) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b90db', endColorstr='#66d5e9',GradientType=1 );
    padding: 8px 20px;
    display: block;
    position: absolute;
    top: 0;
    left: -120px;
  }
  .flow > li .icon::after {
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent rgb(54, 56, 56);
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .flow > li dl {
    padding-left: 70px;
    position: relative;
  }
  .flow > li dl::before,
  .flow > li dl::after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
  }
  .flow > li dl::before {
    width: 7px;
    height: 7px;
    margin-top: -3px;
    background: rgb(54, 56, 56);
    border-radius: 50%;
    left: -4px;
  }
  .flow > li dl::after {
    width: 50px;
    border-bottom: 1px dashed #999;
    position: absolute;
    left: 5px;
  }
  .flow > li dl dt {
    font-size: 20px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin-bottom: 1vh;
  }

  .all {
      width: 100%;
  }

  .title {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(83, 83, 83);
  }

  /* a.btn {
    color: #000;
    background-color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(201, 201, 201);
    margin-right: 5pt;
    margin-left: 5pt;
  }
  a.btn:hover {
    margin-top: 3px;
    color: #000;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(201, 201, 201);
  }
  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  } */

  .btn-open {
    display: inline-block;
    text-align: center;
    width: 220pt;
    background-color: #FFF;
    font-size: 16px;
    line-height: 52px;
    color:  rgb(83, 83, 83);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid  rgb(83, 83, 83);
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 3pt 10pt 3pt 10pt;
    margin: 3pt 5pt 3pt 5pt;
  }
  .btn-open:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 100%;
    left: 100%;
    background : rgb(83, 83, 83);
    opacity: 0;
    transform: translateX(-100%) translateY(-100%) rotate(90deg);
    transition: .2s;
    z-index: -1;
  }
  .btn-open:hover{
    color: #FFF;
    text-decoration: none;
  }
  .btn-open:hover:after{
    height: 480%;
    opacity: 1;
  }
  .btn-open:active:after{
    height: 340%;
    opacity: 1;
  }