<!--wrapper--> 
<div wrapper class="container w-80 clearfix" style="padding: 5px;">
  <!--メイン-->
  <div id ="main">
    <h4>カーシェアリングオーナー利用の流れ</h4>                     
    <div class="card" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="card-body">
        <h5 class="card-title">口座登録</h5>
        <p class="card-text">収益の送金先となる口座を登録！</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>口座登録に関するよくある質問</a>
        <br><a>↓</a>
      </div>
    </div>

    <div class="card" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="card-body">
        <h5 class="card-title">車情報</h5>
        <p class="card-text">貸し出す車の情報を登録！</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>車情報に関するよくある質問</a>
        <br><a>↓</a>
      </div>
    </div>
    

    <div class="card" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="card-body">
        <h5 class="card-title">車工事</h5>
        <p class="card-text">利用者が共通鍵で解錠するため、鍵の工事をさせていただきます！<br>※工事の費用はこちらで負担いたします。</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>車工事に関するよくある質問</a>
        <br><a>↓</a>
      </div>
    </div>
    
    <div class="card" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="card-body">
        <h5 class="card-title">日時登録</h5>
        <p class="card-text">貸し出しできる日時を登録！登録した日時はいつでも確認していただけます！</p>
        <a href="#" class="btn btn-primary">詳細</a>          
        <a href="#" class="btn btn-primary">>>日時登録に関するよくある質問</a>
        <br><a>↓</a>
        </div>
    </div>

    <div class="card" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="card-body">
        <h5 class="card-title">振り込み</h5>
        <p class="card-text">登録していただいた口座に収益をお振り込みいたします！</p>
        <a href="#" class="btn btn-primary">詳細</a>
        <a href="#" class="btn btn-primary">>>日時登録に関するよくある質問</a>
      </div>
    </div>

    <div class="botan" style="width: 600pt;margin: auto;text-align: center;margin-bottom: 5pt;">
      <div class="botan-body">
        <a href="#" class="btn btn-primary">口座登録</a>
        <a href="#" class="btn btn-primary">貸し出す車の情報を登録</a>
        <a href="#" class="btn btn-primary">貸し出す日時を登録</a>
      </div>
    </div>
  </div>
  <!--/メイン-->
</div>
<!--/wrapper-->