#map_info {
    padding: 0.5em 1em;
    margin: 2em 10pt;
    margin-bottom: 20pt;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    opacity: 1;
    width: 80%;
  
}

.table td, .table th{
    vertical-align: middle;
}