{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- jQuery読み込み -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='{% static "administrator/css/base.css" %}'>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    </head>
  <body>
      <!--ヘッダー-->
      <header>
        <div class="header">
        <p class="who">
            {% if user.is_authenticated %}
                ようこそ{{ user.get_username }}
            {% else %}
                ゲスト
            {% endif %}  
                さん
        </p>
        <p>
<!-- 駐車場オーナーに登録済か判定 -->
        {% if request.session.owner_flag == True %}
    <!-- 登録済 -->
            {{ request.session.owner_flag }}
        {% else %}
    <!-- 未登録 -->
            {{ request.session.owner_flag }}
        {% endif %}
<!-- 駐車場オーナーに登録済か判定 -->

<!-- カーシェアリングオーナーに登録済か判定 -->
        {% if request.session.owner_flag == True %}
    <!-- 登録済 -->
            {{ request.session.owner_flag }}
        {% else %}
    <!-- 未登録 -->
            {{ request.session.owner_flag }}
        {% endif %}
<!-- カーシェアリングオーナーに登録済か判定 -->
        </p>
        <ul class="nav">
          <a class="navbar-brand" href="/"><img src='{% static "admin/img/logo03.png" %}' class="logo3">Administrator</a>
          <li class="navbar01" style="border-right: 1px solid #333;width: 18%;text-align: center;">
              <a class="nav-link" href="{% url 'administrator:createCar' %}">カーシェアリング車追加</a>
          </li>
          <li class="navbar01" style="border-right: 1px solid #333;width: 15%;text-align: center">
              <a class="nav-link" href="{% url 'administrator:createparking' %}">駐車場追加</a>
          </li>
          <li class="navbar01" style="border-right: 1px solid #333;width: 15%;text-align: center">
              <a class="nav-link" href="{% url 'administrator:stationarea' %}">配車管理</a>
          </li>
            <li class="navbar01" style="border-right: 1px solid #333;width: 15%;text-align: center">
              <a class="nav-link" href="{% url 'administrator:survey' %}">アンケート結果</a>
          </li>
        </ul>
          <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0px;">
            <a class="navbar-brand" href="/">Administrator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mt-2">
                <li class="nav-item dropdown" style="margin-left:5pt;margin-right: 5pt;">
                    <a class="nav-link" href="{% url 'administrator:createCar' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                    text-align: center;float: left;margin: 0px 15px 0px 15px;">
                      カーシェアリング車追加
                    </a>
                </li>
                <li class="nav-item dropdown" style="margin-left:5pt;margin-right: 5pt;">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                    text-align: center;margin: 0px 15px 0px 15px;">
                      駐車場追加
                    </a>
                </li>
                <li class="nav-item dropdown" style="margin-left:5pt;margin-right: 5pt;">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                    text-align: center; margin: 0px 15px 0px 15px;">
                        配車管理
                    </a>
                </li>
                <li class="nav-item dropdown" style="margin-left:5pt;margin-right: 5pt;">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                    text-align: center; margin: 0px 15px 0px 15px;">
                        アンケート結果
                    </a>
                </li>
              </ul>
            </div>
          </nav> -->
        </div>
      </header>
      <!--/ヘッダー-->

      
    <!--wrapper-->
    <div wrapper class="container w-80 clearfix" style="margin-top: 100px; padding: 5px;">
    <!--メイン-->
    {% for message in messages %}
      <!-- <strong>Messages:</strong> -->
      <ul class="socialaccount_providers" style="padding: 0pt;"> 
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style: none;margin-top: 5pt;">{{ message }}</li>
      </ul>
    {% endfor %}
    {% block box %}{% endblock %}
    {% block main_contents %}{% endblock %}
    <!--/メイン-->
    </div>
    <!--/wrapper-->
    <div class="footer-copyright text-center py-3">株式会社▲▲▲</div>
  </body>
</html>
{% block extrajs %}{% endblock %}
{% block mapapi %}{% endblock %}