<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>管理者画面</title>
  </head>
  <body>
    <h1 class="h3 pl-2">管理者画面</h1>
    <h2 class="h4 text-center">駐車場追加</h2>
    <div class="card card-body p-1 border-dark mx-auto" style="width: 40rem;">
        <ul class="h5">
            <li>駐車場の場所</li>
            <label>郵便番号</label><br>
            <input style="width:170px;" type="text">
            <input type="submit" value="住所を検索" class="btn btn-outline-secondary btn-sm"><br>
            <label>都道府県</label><br>
            <div class="col-4 pr-5">
            <select class="custom-select">
              <option selected>選択</option>
              <option>愛知県</option>
              <option>青森県</option>
              <option>秋田県</option>
              <option>石川県</option>
              <option>茨城県</option>
              <option>岩手県</option>
              <option>愛媛県</option>
              <option>大分県</option>
              <option>大阪府</option>
              <option>岡山県</option>
              <option>沖縄県</option>
              <option>香川県</option>
              <option>鹿児島県</option>
              <option>神奈川県</option>
              <option>岐阜県</option>
              <option>京都府</option>
              <option>熊本県</option>
              <option>群馬県</option>
              <option>高知県</option>
              <option>埼玉県</option>
              <option>佐賀県</option>
              <option>滋賀県</option>
              <option>静岡県</option>
              <option>島根県</option>
              <option>千葉県</option>
              <option>東京都</option>
              <option>徳島県</option>
              <option>栃木県</option>
              <option>鳥取県</option>
              <option>富山県</option>
              <option>長崎県</option>
              <option>長野県</option>
              <option>奈良県</option>
              <option>新潟県</option>
              <option>兵庫県</option>
              <option>広島県</option>
              <option>福井県</option>
              <option>福岡県</option>
              <option>福島県</option>
              <option>北海道</option>
              <option>三重県</option>
              <option>宮城県</option>
              <option>宮崎県</option>
              <option>山口県</option>
              <option>山梨県</option>
              <option>和歌山県</option>
            </select>
          </div>
            <label>市町村</label><br>
            <input style="width:170px;" type="text"><br>
            <label>番地・マンション名・部屋番号</label><br>
            <input style="width:295px;" type="text"><br>
            <label>駐車場番号</label><br>
            <input style="width:120px;" type="text"><br>
            <li>タイプ</li>
            <div class="col-6 pr-5 mr-5">
              <select class="custom-select">
                <option selected>選択</option>
                <option>平面駐車場</option>
                <option>一般認定品駐車場</option>
                <option>個別認定駐車場</option>
                <option>在来工法駐車場</option>
                <option>二段式立体駐車場</option>
                <option>多段式立体駐車場</option>
                <option>タワー式立体駐車場</option>
              </select>
            </div>
            <li>横幅</li>
            <input style="width:145px;" type="text"><br>
            <li>奥行き</li>
            <input style="width:145px;" type="text"><br>
            <li>高さ</li>
            <input style="width:145px;" type="text"><br>
            <li>駐車場のオーナー</li>
            <input style="width:170px;" type="text">
            <div class="text-right pr-5">
                <input type="submit" value="追加" class="btn btn-outline-secondary rounded-0">
            </div>
        </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>