<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>管理者画面</title>
  </head>
  <body>
    <h1 class="h3 pl-2">管理者画面</h1>
    <h2 class="h4 text-center">駐車場追加確認</h2>
    <div class="card card-body p-1 border-dark mx-auto" style="width: 40rem;">
        <ul class="h5">
            <li>駐車場の場所</li>
            <p>XXX県XXX市XXXXXXXXXXXX 16番</p>
            <li>タイプ</li>
            <p>YY</p>
            <li>横幅</li>
            <p>ZZZZ</p>
            <li>奥行き</li>
            <p>XXXX</p>
            <li>高さ</li>
            <p>YYYY</p>
            <li>駐車場のオーナー</li>
            <p>ZZZZZZZZZZ</p>
        </ul>
    </div><br>
    <div class="text-right pr-5">
        <input type="submit" value="追加" class="btn btn-outline-secondary rounded-0 btn-lg">
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>