{% extends 'administrator/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block main_contents %}
<h1 style="font-size: 25pt;">{{ title }}</h1>
<form name="dataform" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <textarea class="form-control" name="output" cols="80" rows="15"></textarea>
    <input class="btn" type="submit" value="Upload File" name="submit" style="text-align: center;padding: auto;">

</form>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src='{% static "admin/js/file-loader.js" %}'></script>
{% endblock %}