{% extends 'carsharing_req/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block main_contents %}
    <h1>{{ title }}</h1>
    <form action="{% url 'parking_booking:create' %}" method="post" >
<div>
        {% csrf_token %}
        <h2>{{ message|safe }}</h2>
        <div>
            {{ form.as_p }}
            {{ form.media }}
        </div>
        <div>
            <input class="btn" type="submit" value="予約" style="float: right;width: 80pt;height: 30pt;margin: 5pt;">
        </div>
</div>
    </form>
    <style>
        h1 {
            font-size: 25pt;
        }

        h2 {
            font-size: 20pt;
            margin-top: 20pt;
            border-bottom: solid;
            border-color: rgb(83, 83, 83);
        }
    </style>

{% endblock %}
